@model ContainerWarehouseProductPageDto

@{
	ViewData["Title"] = "تعرفه انبارداری کالای کانتینری";
	Layout = "~/Views/Shared/AdminLayout.cshtml";
	int groupIndex = 1;
}

<div class="col-lg-12">
	<div class="card">
		<div class="card-header pb-0">
			<div class="d-flex justify-content-between">
				<h3 class="title">
					<button type="button" class="btn bg-transparent p-0 fs-6 text-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
						<i class="fa-solid fa-right-to-bracket me-2"></i>
					</button>
					تعرفه انبارداری کالای کانتینری
				</h3>

				<a class="btn btn-success d-md-block d-none" style="border-radius:5px" onclick="showCreateProductModal()">
					<i class="icon-plus"></i> ثبت محصول جدید
				</a>
			</div>
			<form id="formFilter" asp-action="List" method="post">
				<input name="p" id="pageNumber" hidden />
				<div class="row gy-4">
					<div class="form-group col-md-3">
						<label>جستجو</label>
						<input asp-for="Filter.Search" class="form-control" placeholder="عنوان محصول">
						<span asp-validation-for="Filter.Search" class="text-danger"></span>
					</div>
					<div class="col-md-2">
						<button style="margin-top:30px; border-radius:5px" class="btn btn-success" type="submit">
							فیلتر
						</button>
					</div>
				</div>
			</form>
		</div>
		<div class="card-body pt-0">
			<div class="table-responsive mt-3">
					<table class="table table-bordered table-hover table-striped">
						<thead class="bg-primary">
							<tr>
								<th>ردیف</th>
								<th>نوع محصول</th>
								<th>عنوان محصول</th>
								<th>پر/خالی بودن کانتینر</th>
								<th>تعرفه</th>
								<th>عملیات</th>
							</tr>
						</thead>
						<tbody>
							@foreach (var group in Model.Data)
							{
								var products = group.ContainerWarehouseProducts;
								var rowspan = products.Count;
								var typeName = group.ContainerType.ToDisplay();

								for (int i = 0; i < rowspan; i++)
								{
									var product = products[i];
									<tr>
										@if (i == 0)
										{
											<td class="align-middle" rowspan="@rowspan">@groupIndex</td>
											<td class="align-middle" rowspan="@rowspan">@typeName</td>
											groupIndex++;
										}
										<td class="align-middle">@product.Title</td>
										<td class="align-middle">@(product.IsFreeContainer ? "خالی" : "پر")</td>
										<td class="align-middle">
											@if (product.ContainerWarehouseProductTariff != null)
											{
												<div class="d-flex gap-2 my-2">
													<span class="p-1 bg-primary rounded px-2">۱-۵ روز: @product.ContainerWarehouseProductTariff.From1To5DayPrice.ToPrice()</span><br />
													<span class="p-1 bg-primary rounded px-2">۱-۱۰ روز: @product.ContainerWarehouseProductTariff.From1To10DayPrice.ToPrice()</span><br />
													<span class="p-1 bg-primary rounded px-2">۱-۲۰ روز: @product.ContainerWarehouseProductTariff.From1To20DayPrice.ToPrice()</span><br />
													<span class="p-1 bg-primary rounded px-2">۱-۳۰ روز: @product.ContainerWarehouseProductTariff.From1To30DayPrice.ToPrice()</span><br />
												</div>
												<div class="d-flex gap-2 my-2">
													<span class="p-1 bg-primary rounded px-2">۱-6۰ روز: @product.ContainerWarehouseProductTariff.From1To60DayPrice.ToPrice()</span><br />
													<span class="p-1 bg-primary rounded px-2">۱-9۰ روز: @product.ContainerWarehouseProductTariff.From1To90DayPrice.ToPrice()</span><br />
													<span class="p-1 bg-primary rounded px-2">بیش از 90 روز: @product.ContainerWarehouseProductTariff.LargerThan90DayPrice.ToPrice()</span><br />
												</div>
												<div class="d-flex gap-2 my-2">
													<span class="p-1 bg-info rounded px-2">@product.ContainerWarehouseProductTariff.StartDateFa - @product.ContainerWarehouseProductTariff.EndDateFa</span>
													<span class="p-1 bg-info rounded px-2">@product.ContainerWarehouseProductTariff.CurrencyTypeTitle</span>
												</div>
											}
											else
											{
												<span>تعرفه ندارد</span>
											}
										</td>
										<td class="align-middle">
											<a class="btn btn-warning px-2 btn-sm btn-icon curve" onclick="editTariff('@product.Id');"><i class="icon-pencil align-middle fs-7"></i></a>

											<a class="btn btn-danger px-2 btn-sm" id="Delete@(i)" onclick="ShowQAlert(event,'Delete@(i)');"
												asp-action="Delete" asp-route-ContainerWarehouseProductId="@product.Id">
												<i class="icon-trash fs-6"></i>
											</a>
											<a class="btn btn-primary px-3 btn-sm" href="/ContainerWarehouseProduct/ListTariff?ContainerWarehouseProductId=@product.Id">
												<i class="fa fa-edit"></i> تعرفه‌ها
											</a>
										</td>
									</tr>
								}
							}
						</tbody>
					</table>
				</div>
		</div>
	</div>
</div>



<!-- Modal -->
<div id="productModal" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">ثبت محصول جدید</h4>
				<button type="button" class="close btn-close rounded border" data-bs-dismiss="modal"></button>
			</div>
			<div class="modal-body" id="modalBody">
				<partial name="_CreateContainerWarehouseProduct" model="@Model.Create" />
			</div>
		</div>
	</div>
</div>

@section script {
	<script>
		$(document).ready(function () {
			
		});

		function showCreateProductModal() {
			$("#Id").val('');
			$("#Title").val('');
			$('#productModal').modal('show');
		}

		function editTariff(id) {
			$.post("@Url.Action("GetTariffById", "ContainerWarehouseProduct")", { tariffId: id })
				.done(function (res) {
					$("#modalBody").html(res);
					$("#productModal").modal('show');
				});
		}
	</script>
}
