@using Common.enumeration.Log
@model VesselListDtoPageDto
@{
    ViewData["Title"] = "لیست شناور ها";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
    int i = ((Model.List?.PageNumber - 1) * Model.List?.PageSize) + 1 ?? 1;
}

@section style {
    <link href="~/assets/plugins/select2/dist/css/select2.min.css" rel="stylesheet">
}

<div class="col-lg-12">
    <div class="card bg-white">
        <div class="card-header border-0">
            <div class="d-flex justify-content-between">

                <h3 class="title">
                    <i class="icon-frane"></i> لیست شناور ها
                </h3>

                @if (User.IsInRole("admin"))
                {
                    <a style="border-radius:5px; margin:0px 10px" class="btn btn-primary" onclick="CreateVessel();">شناور جدید  </a>
                }
            </div>


            <!-- /.portlet-title -->
            <!-- /.buttons-box -->
        </div>
        <!-- /.portlet-heading -->
        <!-- /.portlet-body -->
        <div class="card-body bg-white">
            <form id="formFilter" asp-action="Index" method="get">
                <input name="p" id="pageNumber" hidden />
                <div class="form-body mb-4">

                    <div class="row">
                        @if (User.IsInRole("admin"))
                        {
                            <div class="col-md-3 col-sm-12">
                                <div class="form-group ">
                                    <label>بندر</label>
                                    <div class="input-group">
                                        <select class="form-control select2" style="width:100%!important;"
                                                asp-for="Filter.PortId"
                                                asp-items="Model.Ports">
                                            <option value="">همه بنادر</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        }

                        <div class="col-md-3 col-sm-12">
                            <div class="form-group ">
                                <label>نام شناور</label>
                                <div class="input-group">
                                    <input asp-for="Filter.Name" type="text" placeholder="نام شناور" class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-12">
                            <div class="form-group ">
                                <label>نوع شناور</label>
                                <div class="input-group">
                                    <div class="input-group">
                                        <input asp-for="Filter.TypeOfVessel" type="text" placeholder="نوع شناور" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-2 d-flex justify-content-center flex-wrap align-content-center">
                            <button style="border-radius:5px; margin-top:30px" class="alert-icon btn btn-success "
                                    type="submit">
                                <p class="px-3">فیلتر</p>
                            </button>
                        </div>

                    </div>
                </div>
            </form>
            <div class="col-md-12 table-responsive vh-100">
                <table class="table table-bordered table-hover table-striped" id="data-table">
                    <thead>
                        <tr>
                            <th>ردیف</th>
                            <th>نام شناور</th>
                            <th>بندر محل فعالیت</th>
                            <th>قرارداد</th>
                            <th>نوع شناور</th>
                            <th>محل ساخت</th>
                            <th>مالک</th>
                            <th>وضعیت</th>
                            <td>عملیات</td>
                        </tr>
                    </thead>
                    <tbody>


                        @foreach (var item in Model.List.Data)
                        {
                            <tr>
                                <td class="align-middle">@(i++)</td>
                                <td>@item.Name</td>
                                <td>@item.PortPortName</td>
                                <td>@item.Contract</td>
                                <td>@item.PersianTypeOfVessel</td>
                                <td>@item.PersianPlaceOfBuilt</td>
                                <td>@item.Owner</td>
                                <td>@item.EquipmentStatusTitle</td>
                                <td class="d-flex justify-content-first">
                                    <div class="dropdown-basic">
                                        <div class="dropdown">
                                            <div class="btn-group mb-0">
                                                <button class="dropbtn btn-light rounded" type="button"><i data-feather="chevron-down" class="text-info"></i></button>
                                                <div class="dropdown-content">
                                                    @if (User.IsInRole("admin"))
                                                    {

                                                        <a type="button" onclick="editVessel('@item.Id');"><i class="icon-pencil"></i> ویرایش</a>

                                                        <a id="DeleteVessel@(i)" onclick="ShowQAlert(event,'DeleteVessel@(i)');" asp-action="DeleteVessel" asp-route-vesselId="@item.Id"><i class="icon-trash fa-flip-horizontal"> </i> حذف</a>

                                                    }

                                                    @if (User.IsInRole("admin") || User.IsInRole("adminOnePort"))
                                                    {

                                                        <a asp-controller="Vessel" asp-action="VesselDetail" asp-route-vesselId="@item.Id">جزئیات</a>

                                                        <a asp-controller="EquipmentLog" asp-action="DashboardEquipmentStatus" asp-route-Type="@EquipmentLogType.Vessel" asp-route-EntityId="@item.Id">تعیین وضعیت</a>

                                                    }
                                                </div><!-- /.btn-group -->
                                            </div>
                                        </div>
                                    </div>
                                </td>

                            </tr>

                        }



                    </tbody>
                </table>
                <div class="mt-3">
                    <cs-pager cs-paging-pagesize="@Model.List.PageSize"
                              cs-paging-pagenumber="@Model.List.PageNumber"
                              cs-paging-totalitems="@Model.List.TotalItems"
                              cs-paging-maxpageritems="10"
                              cs-pagenumber-param="p"
                              cs-show-first-last="true"
                              cs-suppress-empty-nextprev="true"
                              cs-suppress-inactive-firstlast="true"
                              cs-show-numbered="true"
                              cs-first-page-text="ابتدا"
                              cs-last-page-text="انتها"
                              cs-next-page-title="بعدی"
                              cs-previous-page-title="قبلی"
                              cs-first-page-title="ابتدا"
                              cs-last-page-title="انتها"
                              cs-next-page-text="بعدی"
                              cs-previous-page-text="قبلی"
                              cs-pager-li-current-class="page-item active"
                              cs-pager-li-other-class="page-item"
                              cs-pager-li-non-active-class="page-item disabled"
                              cs-pager-link-current-class="page-link"
                              cs-pager-link-other-class="page-link"
                              asp-controller="Vessel"
                              asp-action="Index">
                    </cs-pager>
                </div>

            </div>
            <!-- /.table-responsive -->
        </div>
    </div>

    <!-- /.portlet -->
</div>




<div id="generalmodal" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">ثبت شناور</h4>
                <button type="button" class="close btn-close rounded border" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body" id="modalbody">
                <partial name="_CreateVessel" model="new CreateVesselDto{ }" />

            </div>
        </div>
    </div>
</div>

@section script {

    <script>
        $(document).ready(function () {
            $("#Filter_PortId").select2().trigger('change');
        });

        function CreateVessel() {
            $("#Name").val('');
            $("#Id").val('');
            $("#generalmodal").modal('show');
        }

        function editVessel(id) {

            $.get("@Url.Action("GetVesselById", "Vessel")", { vesselId: id })
                .done(function (res) {
                    $("#modalbody").html(res);
                    $("#generalmodal").modal('show');
                });
        }
        function handleRowClick(url) {
            window.location.href = url;
        }


        $(".page-link").click(function (event) {
            event.preventDefault(); // غیرفعال کردن عملکرد پیشفرض href

            var hrefValue = $(this).attr("href");
            $("#pageNumber").val(hrefValue.split("p=")[1]);
            $("#formFilter").submit();
        });

    </script>
}