@model PortPageDto
@{
    ViewData["Title"] = "بنادر";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
    int i = 1;
}

<div class="col-lg-12">
    <div class="card">
        <div class="card-header ">
            <div class="d-flex justify-content-between">
                
                    <h3 class="title">
                        <i class="icon-frane"></i> لیست بنادر
                    </h3>
                    <a style="border-radius:5px;"
                       class="btn btn-primary"
                       onclick="createPorts();"><i class="fa-solid fa-plus me-2"></i>بندر جدید</a>

            </div>

        </div>
        <div class="card-body pt-0">
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped" id="data-table">
                    <thead class="bg-primary">
                        <tr>
                            <th class="col-sm-1">ردیف</th>
                            <th>اسم بندر</th>
                            <th> شناسه FPN</th>
                            <th>پیش فرض پنل مدیریت</th>
                            <td>عملیات</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Ports)
                        {
                            <tr>
                                <td class="align-middle">@(i++)</td>
                                <td class="align-middle">@item.PortName</td>
                                <td class="align-middle">@item.CodeForFpn</td>
                                <td class="align-middle">
                                    <a id="ActivationPort@(i)" onclick="ShowQAlert(event,'ActivationPort@(i)');" asp-action="ActivationPort" asp-route-portId="@item.Id"><span class="label px-2 py-1 rounded label-@(item.IsActive?"success":"danger")">@(item.IsActive ? "فعال" : "غیر فعال")</span></a>
                                </td>
                                <td class="align-middle">
                                    <a class="btn btn-warning btn-sm btn-icon curve px-2" onclick="editPorts('@item.Id');"><i class="icon-pencil fs-6 align-middle"></i></a>

                                </td>

                            </tr>
                        }


                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



<div id="generalmodal" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title mx-3">ثبت بندر</h4>
                <button type="button" class="close btn-close rounded border" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body" id="modalbody">
                <partial name="_CreatePort" model="Model.CreateDto" />
            </div>
        </div>
    </div>
</div>


@section script {
    <script src="~/assets/plugins/select2/dist/js/select2.full.min.js"></script>
    <script src="~/assets/plugins/select2/dist/js/i18n/fa.js"></script>
    <script src="~/assets/js/pages/select2.js"></script>


    <script>

        $(document).ready(function () {


        });


        function createPorts() {
            $("#PortName").val('');
            $("#CodeForFpn").val('');
            $("#Id").val('');
            $("#LonX").val('');
            $("#LatY").val('');

            $("#generalmodal").modal('show');
        }

        function editPorts(id) {

            $.post("@Url.Action("GetCreatePortsPageById", "Port")", { portsId: id })
                .done(function (res) {
                    $("#modalbody").html(res);
                    $("#generalmodal").modal('show');
                })
                .fail(function (xhr, status, error) {
                    location.reload();
                });
        }


        $(".page-link").click(function (event) {
            event.preventDefault(); // غیرفعال کردن عملکرد پیشفرض href

            var hrefValue = $(this).attr("href");
            $("#pageNumber").val(hrefValue.split("p=")[1]);
            $("#formFilter").submit();
        });
    </script>
}