@using Entities.Entities.Hirman
@model TruckInfoInOutPageDto
@{
	ViewData["Title"] = "مدت زمان کامیون ها";
	Layout = "~/Views/Shared/AdminLayout.cshtml";
	int i = 1;
}

	<div class="card">
		<div class="card-header pb-2">
			<div class="d-flex">
				<div class="d-flex justify-content-between">
					<h3 class="title">
						<i class="icon-frane"></i> مدت زمان کامیون ها
					</h3>
				</div>
			</div>
		</div>

		<div class="card-body pt-0">
			<div>
					<div id="data-table_filter" class="dataTables_filter">
					<div class="card-body px-0 pt-0">
						<form id="formFilter" asp-action="TruckInfoInOut" method="post">
							<input name="p" id="pageNumber" hidden />

							<div class="form-body">
								<div class="row gy-3">
									@* <div class="form-group col-md-2 ">
									<label>جستجو</label>
									<div class="input-group">
										<input asp-for="Filter.Search" type="text" placeholder="کامیون/راننده" class="form-control">
									</div>
								</div> *@

									<div class="form-group col-md-2">
										<label> از تاریخ:</label>
										<div class="input-group">

											<input asp-for="Filter.FilterDate.FromDate" type="text" class=" form-control">
											<span asp-validation-for="Filter.FilterDate.FromDate" class="text-danger"></span>
										</div>
									</div>

									<div class="form-group col-xxl-1 col-lg-2">
										<label> از ساعت:</label>
										<div class="input-group clockpicker">
											<input type="text" class="form-control px-0 text-center" asp-for="Filter.FilterDate.FromTime">
											<span class="input-group-addon">
												<span class="glyphicon glyphicon-time"></span>
											</span>
										</div>
									</div>

									<div class="form-group col-md-2">
										<label>تا تاریخ:</label>
										<div class="input-group">
											<input asp-for="Filter.FilterDate.ToDate" type="text" class=" form-control">
											<span asp-validation-for="Filter.FilterDate.ToDate" class="text-danger"></span>
										</div>
									</div>

									<div class="form-group col-xxl-1 col-lg-2">
										<label> تا ساعت:</label>
										<div class="input-group clockpicker">
											<input type="text" class="form-control px-0 text-center" asp-for="Filter.FilterDate.ToTime">
											<span class="input-group-addon">
												<span class="glyphicon glyphicon-time"></span>
											</span>
										</div>
									</div>

									<div class="form-group col-md-2">
										<div class=" form-group relative">
											<label>  مرتب سازی</label>
											<div class="input-group ">
												<select class="form-control  " asp-for="Filter.OrderType"
												        style="width:100%!important;">
													<option value="0">تاریخ ورود</option>
													<option value="1">مدت زمان در بندر  </option>
												</select>
											</div>
										</div>
									</div>
									
									<div class="form-group col-md-3">
										<label>   </label>
										<div class="input-group activeor">
											<label>
												<input type="checkbox" asp-for="Filter.OnlyOutTruck" class="form-check-input">
												فقط کامیون های با ثبت خروج
											</label>
										</div>
									</div>

									<div class="col-md-1">
										<div class="d-flex justify-content-around " style="margin-top:28px">
											<button style="border-radius:5px" class="alert-icon btn btn-success px-1" type="submit"><p class="px-3">فیلتر</p></button>
										</div>
									</div>

								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="table-responsive">
				<table class="table table-bordered table-hover table-striped" id="data-table">
					<thead class="bg-primary">
					<tr>
						<td>#</td>
						<td>شماره کامیون </td>
						<td>نوع کامیون</td>
						<td>مالک کامیون</td>
						<td>کد ملی</td>
						<td> تاریخ ورود</td>
						<td>گیت ورود</td>
						<td>ساعت خروج</td>
						<td>گیت خروج</td>
						<td>مدت زمان در بندر</td>
					</tr>
					</thead>
					<tbody>
					@if (Model?.Trucks?.Any() == true)
					{
						foreach (var item in Model.Trucks)
						{
							<tr>
								<td>@(i++)</td>
								<td>@item.TruckIn?.Plaque</td>
								<td>@item.TruckIn?.CarType</td>
								<td>@item.TruckIn?.Name @item.TruckIn?.LastName</td>
								<td>@item.TruckIn?.NationalCode</td>

								<td style="direction:ltr">@item.TruckInDateFa</td>
								<td>@item.GateIn</td>
								<td style="direction:ltr">@item.TruckOutDateFa</td>
								<td>@item.GateOut</td>
								<td>@item.ElapsedTime</td>
							</tr>
						}
					}

					</tbody>
				</table>
				<div>
				</div>
			</div>
		</div>
	</div>


@section script {


	<script>
		$(document).ready(function () {
			$('.clockpicker').clockpicker({
				placement: 'bottom',
				align: 'left',
				donetext: 'تایید'
			});


			kamaDatepicker('Filter_FilterDate_FromDate', customOptions);
			kamaDatepicker('Filter_FilterDate_ToDate', customOptions);


			$(".page-link").click(function (event) {
				event.preventDefault(); // غیرفعال کردن عملکرد پیشفرض href

				var hrefValue = $(this).attr("href");
				$("#pageNumber").val(hrefValue.split("p=")[1]);
				$("#formFilter").submit();
			});

		});


	</script>
}