@model Entities.DTOs.Web.Hirman.InlandExportManifestDetailPageDto
@{
    ViewData["Title"] = "مدیریت مجوز صادرات";
    Layout = "~/Views/Shared/AdminLayout.cshtml";

    string CollapsClassName = ViewBag.IsEmpty == true ? "show" : "";
    string aria_expandedValue = ViewBag.IsEmpty == true ? "true" : "false";

    var color = "";
    var imageSrc = "";

}
<div class="row">
    <div class="card">
        <div class="card-header pb-0 px-3">
            <div class="d-flex justify-content-between align-items-center">
                <h3 class="title">
                    <i class="icon-frane"></i>

                    <a asp-action="Index"><i class="fa-solid fa-right-to-bracket me-2"></i></a>

                    مدیریت مجوز صادرات
                </h3>
                <div class="d-flex align-items-center">

                    @if (User.IsInRole("admin") || User.IsInRole("adminOnePort"))
                    {
                        <a id="DeleteSeo" onclick="ShowQAlert(event,'DeleteSeo', 'حذف مجوز' , 'آیا از حذف این مجوز مطمئن هستید');" asp-controller="Seo" asp-action="DeleteSeo" asp-route-seoId="@Model.Info.Id" class=" btn btn-danger"><i class="icon-trash fa-flip-horizontal"></i> حذف </a>

                        @* @if (Model.SeoInfo.State != SeoState.Finish)
						{
							<a id="CloseSeo" onclick="ShowQAlert(event,'CloseSeo' , 'اتمام و بستن بارنامه', 'آیا مایل به بستن بارنامه هستید');" asp-controller="Seo" asp-action="ClosingSeo" asp-route-seoId="@Model.SeoInfo.Id" class=" btn mx-2 btn-success"><i class="fa-solid fa-check me-2 align-middle"></i>اتمام عملیات</a>
						}

						@if (Model.SeoInfo.State == SeoState.Stoped)
						{
							<a class="btn btn-primary" id="StartSeo" onclick="ShowQAlert(event,'StartSeo', 'شروع مجدد', 'آیا از شروع مجدد بارنامه مطمئن هستید');" asp-controller="Seo" asp-action="StartSeo" asp-route-seoId="@Model.SeoInfo.Id"> از سرگیری CHO</a>
						} *@
                    }
                </div>
            </div>
            <div class="row">
            </div>
        </div>
        <div class="card-body pt-0 px-2">
            <div class="@color rounded-3 mt-4 p-3">
                <div class="align-items-center bg-primary gy-3 mb-4 p-3 rounded row">
                    <div class="col-1">
                        <img src="~/assets/images/craneShip.png" alt="" class="img-fluid">
                    </div>
                    <div class="col-3">
                        <p class="fs-6 fw-bold">@Model.Info.ManifestNumber</p>
                        <p class="fs-6 fw-bold">صاحب کالا  : @Model.Info.Seo.OwnerName</p>
                    </div>
                    <div class="col-3">
                        <p class="fs-6 fw-bold">کالا: @Model.Info.Seo.ProductName (@Model.Info.Seo.ProductCategoryName)</p>
                        <p class="fs-6 fw-bold">بسته بندی: @Model.Info.Seo.ProductPackingName</p>
                    </div>
                    <div class="col-3">
                        <p class="fs-6 fw-bold">  تعداد: @Model.Info.Seo.Count.ToPrice()</p>
                        <p class="fs-6 fw-bold">وزن: @Model.Info.Seo.ShipTonnage.ToPrice()</p>
                    </div>
                    <div class="col-2">
                        <p class="fs-6 fw-bold">حجم: @Model.Info.Seo.Volume.ToPrice()</p>
                        <p class="fs-6 fw-bold">رویه گمرکی: @Model.Info.Seo.CustomsProcedureTitle</p>
                    </div>
                    <div class="col-3">
                        <a class="filter-collapse text-dark px-4 py-1 rounded w-100 bg-white" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="@(ViewBag.IsEmpty)" aria-controls="collapseExample">
                            تکمیل مشخصات <i class="fa-solid fa-angle-down mx-2 align-middle"></i>
                        </a>
                    </div>
                    <div class="collapse  @(ViewBag.IsEmpty == true ? "show" : "")" id="collapseExample">
                        <div class="card-body">
                            <form id="formFilter" asp-action="EditInlandExport" method="post">
                                <input name="p" id="pageNumber" hidden />
                                <input type="hidden" asp-for="EditDto.Id" value="@Model.EditDto.Id" />
                                <div class="form-body ">
                                    <div class="row gy-4">

                                        <div class="col-md-2 col-sm-12">
                                            <div class="form-group  ">
                                                <label>شماره مجوز</label>
                                                <div class="input-group">
                                                    <input asp-for="EditDto.ManifestNumber" type="text" class="rounded form-control">
                                                    <span asp-validation-for="EditDto.ManifestNumber" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-2 col-sm-12">
                                            <div class="form-group  ">
                                                <label>MARKS  </label>
                                                <div class="input-group">
                                                    <input asp-for="EditDto.Marks" type="text" class="rounded form-control">
                                                    <span asp-validation-for="EditDto.Marks" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-4 col-sm-12">
                                            <div class="form-group">
                                                <label>صاحب کالا</label>
                                                <div class="input-group d-flex flex-nowrap">
                                                    <select class="form-control select2 rounded" asp-for="EditDto.ProductOwnerCompanyId"
                                                            asp-items="Model.Companies">
                                                        <option value="">نامشخص</option>
                                                    </select>
                                                     
                                                    <a class="btn btn-success px-2 ms-2 rounded btnAddCompany"
                                                       href="javascript:void(0)"
                                                       data-target-select='select[name="EditDto.ProductOwnerCompanyId"]'>
                                                        <i class="icon-plus align-bottom"></i>
                                                    </a>
                                                     
                                                </div>
                                                <span asp-validation-for="EditDto.ProductOwnerCompanyId" class="text-danger"></span>
                                            </div>
                                        </div>
                                         
                                        <div class="col-md-4 col-sm-12">
                                            <div class="form-group">
                                                <label>موسسه حمل</label>
                                                <div class="input-group d-flex flex-nowrap">
                                                    <select class="form-control select2 rounded" asp-for="EditDto.ShippingCompanyId"
                                                            asp-items="Model.Companies">
                                                        <option value="">نامشخص</option>
                                                    </select>
                                                    <a class="btn btn-success px-2 ms-2 rounded btnAddCompany"
                                                       href="javascript:void(0)"
                                                       data-target-select='select[name="EditDto.ShippingCompanyId"]'>
                                                        <i class="icon-plus align-bottom"></i>
                                                    </a>
                                                </div>
                                                <span asp-validation-for="EditDto.ShippingCompanyId" class="text-danger"></span>
                                            </div>
                                        </div>

                                        


                                        <div class="col-md-4 col-sm-12">
                                            <div class="  form-group ">
                                                <label>کالا</label>
                                                <div class="input-group d-flex flex-nowrap col-sm-6">
                                                    <select class="form-control select2 rounded" asp-for="EditDto.ProuductId"
                                                            asp-items="Model.Products">
                                                        @if (Model.EditDto.ProuductId == null)
                                                        {
                                                            <option value="">نامشخص</option>
                                                        }
                                                    </select>
                                                    <a class="btn btn-success px-2 ms-2 rounded btnAddProduct"
                                                       href="javascript:void(0)"
                                                       data-target-select='select[name="EditDto.ProuductId"]'>
                                                        <i class="icon-plus align-bottom"></i>
                                                    </a>
                                                </div>
                                                <span asp-validation-for="EditDto.ProuductId"
                                                      class="text-danger"></span>
                                            </div>
                                        </div>
                                         

                                        <div class="col-md-2     col-sm-12">
                                            <div class="  form-group ">
                                                <label>بسته بندی  </label>
                                                <div class="input-group col-sm-6">
                                                    <select class="form-control select2" asp-for="EditDto.ProductPackingId"
                                                            asp-items="Model.ProductPackings">
                                                    </select>
                                                </div>
                                                <span asp-validation-for="EditDto.ProductPackingId"
                                                      class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="col-md-2 col-sm-12">
                                            <div class="form-group  ">
                                                <label>تعداد</label>
                                                <div class="input-group">
                                                    <price-input asp-for="EditDto.Count"></price-input>
                                                    <span asp-validation-for="EditDto.Count" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-2 col-sm-12">
                                            <div class="form-group  ">
                                                <label>وزن به کیلوگرم</label>
                                                <div class="input-group">
                                                    <price-input asp-for="EditDto.Weight"></price-input>
                                                    <span asp-validation-for="EditDto.Weight" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-2 col-sm-12">
                                            <div class="form-group  ">
                                                <label>حجم</label>
                                                <div class="input-group">
                                                    <price-input asp-for="EditDto.Volume"></price-input>
                                                    <span asp-validation-for="EditDto.Volume" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-2 col-sm-12">
                                            <div class="form-group  ">
                                                <label>HS Code</label>
                                                <div class="input-group">
                                                    <input asp-for="EditDto.HSCode" type="text" class="rounded form-control">
                                                    <span asp-validation-for="EditDto.HSCode" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-2 col-sm-12">
                                            <div class="  form-group ">
                                                <label>تاریخ مجوز</label>
                                                <div class="input-group">
                                                    <input asp-for="EditDto.LicenseDateFa" type="text" class=" form-control rounded" autocomplete="off">
                                                    <span asp-validation-for="EditDto.LicenseDateFa" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>



                                        <div class="col-md-2 col-sm-12">
                                            <div class="  form-group ">
                                                <label>نوع محموله</label>
                                                <div class="input-group col-sm-6">
                                                    <select class="form-control select2" asp-for="EditDto.TrafficType"
                                                            asp-items="Html.GetEnumSelectList<TrafficType>()">
                                                    </select>
                                                </div>
                                                <span asp-validation-for="EditDto.TrafficType"
                                                      class="text-danger"></span>
                                            </div>
                                        </div>



                                        <div class="col-md-2 col-sm-12">
                                            <div class="  form-group ">
                                                <label>رویه گمرکی</label>
                                                <div class="input-group col-sm-6">
                                                    <select class="form-control select2" asp-for="EditDto.CustomsProcedure"
                                                            asp-items="Html.GetEnumSelectList<CustomsProcedure>()">
                                                        <option value="">نامشخص</option>
                                                    </select>
                                                </div>
                                                <span asp-validation-for="EditDto.CustomsProcedure"
                                                      class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="col-md-2 col-sm-12">
                                            <div class="form-group  ">
                                                <label>  ارزش کالا (به ریال)</label>
                                                <div class="input-group">
                                                    <price-input asp-for="EditDto.CommodityValue"></price-input>
                                                    <span asp-validation-for="EditDto.CommodityValue" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-2 col-sm-12">
                                            <div class="form-group  ">
                                                <label> شماره قرارداد </label>
                                                <div class="input-group">
                                                    <input asp-for="EditDto.ContractNumber"  type="text" class="form-control w-100">
                                                    <span asp-validation-for="EditDto.ContractNumber" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-2 col-sm-12">
                                            <div class="form-group  ">
                                                <label asp-for="EditDto.DestinationCountry"> </label>
                                                <div class="input-group">
                                                    <input asp-for="EditDto.DestinationCountry" type="text" class="form-control w-100  ">
                                                    <span asp-validation-for="EditDto.DestinationCountry" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="col-md-2 col-sm-12">
                                            <div class="form-group  ">
                                                <label>  شماره مجوز گمرکی </label>
                                                <div class="input-group">
                                                    <input asp-for="EditDto.CustomsLicenseNumber"   type="text" class="form-control w-100  ">
                                                    <span asp-validation-for="EditDto.CustomsLicenseNumber" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-2 col-sm-12">
                                            <div class="form-group  ">
                                                <label>  مبدا حمل </label>
                                                <div class="input-group">
                                                    <input asp-for="EditDto.ShippingOrigin"  type="text" class="form-control w-100  ">
                                                    <span asp-validation-for="EditDto.ShippingOrigin" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-2 col-sm-12">
                                            <div class="form-group  ">
                                                <label>نوع وسیله حمل</label>
                                                <div class="input-group">
                                                    <input asp-for="EditDto.VehicleType" type="text" class="form-control w-100  ">
                                                    <span asp-validation-for="EditDto.VehicleType" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-4 col-sm-12">
                                            <div class="form-group  ">
                                                <label>توضیحات  </label>
                                                <div class="input-group">
                                                    <input asp-for="EditDto.Description" type="text" class="rounded form-control">
                                                    <span asp-validation-for="EditDto.Description" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-12 mt-4">
                                            <div class="form-group align-content-center mb-3 text-end">
                                                <button style="border-radius:5px; margin-top:30px" class="alert-icon px-5 btn btn-success "
                                                        type="submit">
                                                    ذخیره
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="col-12 border-top border-white py-2"></div>

                        <div class="col-3">
                            @if (ViewBag.IsEmpty == true)
                            {
                                <a class="btn btn-light w-100 py-3 fs-5" onclick="ErrorEmptyForm()">
                                    <p><i class="fa-solid fa-warehouse fs-3  mb-2"></i></p>
                                    انبارها
                                </a>
                            }
                            else
                            {
                                <a class="btn btn-light w-100 py-3 fs-5" asp-action="ManageWarehouse" asp-route-inlandExportManifestId="@Model.Info.Id">
                                    <p><i class="fa-solid fa-warehouse fs-3  mb-2"></i></p>
                                    انبارها
                                </a>
                            }
                        </div>

                        <div class="col-3">
                            @if (ViewBag.IsEmpty == true)
                            {
                                <a class="btn btn-light w-100 py-3 fs-5" onclick="ErrorEmptyForm()">
                                    <p><i class="fa-solid fa-screwdriver-wrench fs-3  mb-2"></i></p>
                                    تجهیزات
                                </a>
                            }
                            else
                            {
                                <a class="btn btn-light w-100 py-3 fs-5" asp-action="EquipmentManage" asp-route-inlandExportManifestId="@Model.Info.Id">
                                    <p><i class="fa-solid fa-screwdriver-wrench fs-3  mb-2"></i></p>
                                    تجهیزات
                                </a>
                            }
                        </div>

                    <div class="col-3">
                        @if (User.IsInRole("admin") || User.IsInRole("adminOnePort") || User.IsInRole("FinanceUser"))
                        {
                            <a class="btn btn-light w-100 py-3 fs-5" onclick="ErrorEmptyForm()">
                                <p><i class="fa-solid fa-file fs-3  mb-2"></i></p>
                                مدیریت اسناد مرتبط
                            </a>
                        }
                        else
                        {
                            <a class="btn btn-light w-100 py-3 fs-5" asp-action="DocFiles" asp-controller="AllocationOfEquipment" asp-route-reternPage="0"
                               asp-route-allocationEquId="@Model.Info.Id">
                                <p><i class="fa-solid fa-file fs-3  mb-2"></i></p>
                                مدیریت اسناد مرتبط
                            </a>
                        }
                    </div>
                    

                    @if (User.IsInRole("admin") || User.IsInRole("adminOnePort"))
                    {
                        <div class="col-3">
                            <a asp-controller="InlandExportManifest" asp-action="TruckManage" asp-route-ExportId="@Model.Info.Id" asp-route-returnPage="200"
                               class="btn btn-light w-100 py-3 fs-5">
                                <p><i class="fa-solid fa-box-open fs-3  mb-2"></i></p>
                                کامیون ها
                            </a>
                        </div>
                    }


                    @if (User.IsInRole("admin") || User.IsInRole("adminOnePort") || User.IsInRole("FinanceUser"))
                    {
                        <div class="col-3">
                            <button type="button" class="btn btn-light w-100 py-3 fs-5" onclick="openSeoProductModal('@Model.Info.Seo.SeoId')">
                                <p><i class="fa-solid fa-boxes fs-3  mb-2"></i></p>
                                مدیریت کالا
                            </button>
                        </div>

                        <div class="col-3">
                            @if (ViewBag.IsEmpty == true)
                            {
                                <a class="btn btn-light w-100 py-3 fs-5" onclick="ErrorEmptyForm()">
                                    <p><i class="fa-solid fa-warehouse fs-3  mb-2"></i></p>
                                    قبض انبار
                                </a>
                            }
                            else
                            {
                                <a class="btn btn-light w-100 py-3 fs-5" asp-action="ExportWarehouseReceipt" asp-route-ExportId="@Model.Info.Id">
                                    <p><i class="fa-solid fa-warehouse fs-3  mb-2"></i></p>
                                    قبض انبار
                                </a>
                            }
                        </div>

                        <div class="col-3">
                            @if (ViewBag.IsEmpty == true)
                            {
                                <a class="btn btn-light w-100 py-3 fs-5" onclick="ErrorEmptyForm()">
                                    <p><i class="fa-solid fa-warehouse fs-3  mb-2"></i></p>
                                    کاربران
                                </a>
                            }
                            else
                            {
                                <a class="btn btn-light w-100 py-3 fs-5" asp-action="ManageUser" asp-route-ExportId="@Model.Info.Id">
                                    <p><i class="fa-solid fa-warehouse fs-3  mb-2"></i></p>
                                    کاربران
                                </a>
                            }
                        </div>



                       @*  @if (User.IsInRole("admin") || User.IsInRole("adminOnePort") || User.IsInRole("FinanceUser"))
                        {
                            <div class="col-3">
                                <a class="btn btn-light w-100 py-3 fs-5" asp-controller="SeoDocument" asp-action="InsuranceList" asp-route-seoId="@Model.Info.Id">
                                    <p><i class="fa-solid fa-shield-alt fs-3  mb-2"></i></p>
                                    امور بیمه
                                </a>
                            </div>
                            <div class="col-3">
                                <a class="btn btn-light w-100 py-3 fs-5" asp-controller="SeoDocument" asp-action="CustomsList" asp-route-seoId="@Model.Info.Id">
                                    <p><i class="fa-solid fa-anchor fs-3  mb-2"></i></p>
                                    امور گمرک
                                </a>
                            </div>
                        } *@

                        <div class="col-3">
                            @if (User.IsInRole("admin") || User.IsInRole("adminOnePort") || User.IsInRole("FinanceUser"))
                            {
                                @if (ViewBag.IsEmpty == true)
                                {
                                    <a class="btn btn-light w-100 py-3 fs-5" onclick="ErrorEmptyForm()">
                                        <p><i class="fa-solid fa-warehouse fs-3  mb-2"></i></p>
                                        صورت حساب ها
                                    </a>
                                }
                                else
                                {
                                    <a class="btn btn-light w-100 py-3 fs-5" asp-controller="SeoFactor" asp-action="List" asp-route-seoId="@Model.Info.Seo.SeoId" asp-route-returnPage="100">
                                        <p><i class="fa-solid fa-receipt fs-3  mb-2"></i></p>
                                        صورت حساب ها
                                    </a>
                                }
                            }
                        </div>

                        <div class="col-3">
                            @if (User.IsInRole("admin") || User.IsInRole("adminOnePort")  )
                            {
                                @if (ViewBag.IsEmpty == true)
                                {
                                    <a class="btn btn-light w-100 py-3 fs-5" onclick="ErrorEmptyForm()">
                                        <p><i class="fa-solid fa-warehouse fs-3  mb-2"></i></p>
                                        شمارش محوطه
                                    </a>
                                }
                                else
                                {
                                    <a class="btn btn-light w-100 py-3 fs-5" asp-controller="InlandExportManifest" asp-action="CompactCounter" asp-route-ExportId="@Model.Info.Id">
                                        <p><i class="fa-solid fa-receipt fs-3  mb-2"></i></p>
                                        شمارش محوطه
                                    </a>
                                }
                            }
                        </div>

                        <div class="col-3">
                            @if (User.IsInRole("admin") || User.IsInRole("adminOnePort"))
                            {
                                @if (ViewBag.IsEmpty == true)
                                {
                                    <a class="btn btn-light w-100 py-3 fs-5" onclick="ErrorEmptyForm()">
                                        <p><i class="fa-solid fa-list-check fs-3  mb-2"></i></p>
                                        نمایش ریزجزئیات تالی
                                    </a>
                                }
                                else
                                {
                                    <a class="btn btn-light w-100 py-3 fs-5" asp-controller="InlandExportManifest" asp-action="CounterDetail" asp-route-InlandExportManifestId="@Model.Info.Id">
                                        <p><i class="fa-solid fa-list-check fs-3  mb-2"></i></p>
                                        نمایش ریزجزئیات تالی
                                    </a>
                                }
                            }
                        </div>
                    }


                </div>
                    @* white devider start *@
                  
                    @* white divider end *@


                    @* @if (User.IsInRole("admin") || User.IsInRole("adminOnePort")) *@
             
            </div>
        </div>
    </div>
</div>

<div id="seoProductManageModal" class="modal fade" tabindex="-1" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">مدیریت کالا</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="seoProductModalBody">
                <div class="text-center py-5">
                    <div class="spinner-border text-primary" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                    <p class="mt-3 mb-0">در حال بارگذاری ...</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="addProductModalContainer"></div>
<div id="addCompanyModalContainer"></div>

@section script {
    <partial name="_ProductManageScripts" />
    <partial name="~/Views/Company/_AddCompanyScript.cshtml" />
    <partial name="~/Views/Product/_AddProductScript.cshtml" />

    <script>

        $(document).ready(function () {

            $(".select2").select2();

            kamaDatepicker('EditDto_LicenseDateFa', customOptions);
             
        });

         
        function ErrorEmptyForm() {

            Toast.fire({
                icon: 'error',
                title: 'بخش تکمیل مشخصات را پر کنید'
            });
        }


        function ErrorAllocationNotFinish() {

            Toast.fire({
                icon: 'error',
                title: 'تخلیه و بارگیری به اتمام نرسیده است'
            });
        }

        function ErrorSeoNotVoyage() {

            Toast.fire({
                icon: 'error',
                title: 'این بارنامه در یک سفر تعریف نشده است'
            });
        }

        function openSeoProductModal(seoId) {
            const modalEl = document.getElementById('seoProductManageModal');
            if (!modalEl) {
                return;
            }
            loadSeoProductModalContent(seoId);
            const modalInstance = bootstrap.Modal.getOrCreateInstance(modalEl);
            modalInstance.show();
        }

        function loadSeoProductModalContent(seoId) {
            const body = $("#seoProductModalBody");
            body.html(`<div class="text-center py-5">
                            <div class="spinner-border text-primary" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                            <p class="mt-3 mb-0">در حال بارگذاری ...</p>
                        </div>`);

            $.get('@Url.Action("ProductManageModal", "Seo")', { seoId: seoId, _: Date.now() })
                .done(function (html) {
                    body.html(html);
                    if (window.seoProductManager) {
                        try {
                            window.seoProductManager.init('#productManageWrapper', {
                                mode: 'modal',
                                seoId: seoId,
                                onReload: function () { loadSeoProductModalContent(seoId); }
                            });
                        } catch (e) {
                            console.error('Error initializing product manager:', e);
                            body.html('<div class="alert alert-danger mb-0"><i class="fa-solid fa-circle-exclamation me-2"></i>خطا در راه‌اندازی مدیریت کالا: ' + e.message + '</div>');
                        }
                    } else {
                        body.html('<div class="alert alert-warning mb-0"><i class="fa-solid fa-triangle-exclamation me-2"></i>سیستم مدیریت کالا یافت نشد</div>');
                    }
                })
                .fail(function (xhr) {
                    var errorMsg = 'خطا در دریافت اطلاعات کالا';
                    if (xhr.responseJSON && xhr.responseJSON.message) {
                        errorMsg = xhr.responseJSON.message;
                    } else if (xhr.statusText) {
                        errorMsg = errorMsg + ' (' + xhr.statusText + ')';
                    }
                    body.html('<div class="alert alert-danger mb-0"><i class="fa-solid fa-circle-exclamation me-2"></i>' + errorMsg + '</div>');
                });
        }

        $('#seoProductManageModal').on('hidden.bs.modal', function (e) {
            // Only clear when the parent modal itself is closing, not child modals inside it
            if (e.target === this) {
                if (window.seoProductManager && window.seoProductManager.unbindEvents) {
                    window.seoProductManager.unbindEvents();
                }
                if (window.seoProductManager && window.seoProductManager.reset) {
                    window.seoProductManager.reset();
                }
                $("#seoProductModalBody").html('');
            }
        });

    </script>
}
