    @model InlandExportManifestPageDto
@{
    ViewData["Title"] = "مجوزهای صادرات از خشکی";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
    int i = ((Model.List?.PageNumber - 1) * Model.List?.PageSize) + 1 ?? 1;
}

<style>
    .table-responsive {
        overflow-x: auto;
        width: 100%;
        max-height: 70vh; /* Added to enable scrolling */
    }

    #data-table {
        table-layout: auto;
        width: max-content; /* Allows table to expand based on content */
        min-width: 100%; /* Ensures it fits container if content is small */
    }

        #data-table th,
        #data-table td {
            white-space: nowrap; /* Prevents text wrapping */
            padding: 8px; /* Adjusted padding for better spacing */
            text-align: center;
            vertical-align: middle;
        }
</style>



<div class="col-lg-12">
    <div class="card">

        <div class="card-header">

            <div class="d-flex justify-content-between">
                <div class="d-flex">
                    <h3 class="title">
                        <i class="fa fa-money-bill me-2 text-success"></i> مجوزهای صادرات از خشکی
                    </h3>
                    <a class="mx-3 filter-collapse" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                        فیلتر ها <i class="fa-solid fa-angle-down mx-2 align-middle"></i>
                    </a>
                </div>
                <div class="d-none d-md-block">
                    <a style="border-radius:5px;"
                       class="btn btn-primary w-100" onclick="ShowModalAddInlandExportManifest(event)">
                        <i class="icon-plus"></i>
                        مجوز جدید
                    </a>
                </div>
            </div>
            <div class="collapse" id="collapseExample">
		          <form id="formFilter" asp-action="Index" asp-route-p="" method="post">
                <input name="p" id="pageNumber" hidden />
                <div class="form-body ">

                    <div class="row gy-4">
                        <div class="col-md-3 col-sm-12">
                            <div class="form-group ">
                                <label>شرکت</label>
                                <div class="input-group">
                                    <select class="form-control select2"
                                            asp-for="Filter.OwnerId"
                                            asp-items="Model.Companies">
                                        <option value="">همه شرکت ها</option>
                                    </select>
                                </div>
                            </div>
                        </div>



                        <div class="col-md-2 col-sm-12">
                            <div class="form-group">
                                <label>از تاریخ:</label>
                                <div class="input-group">
                                    <input asp-for="Filter.FilterDate.FromDate" type="text" class=" form-control" autocomplete="off">
                                    <span asp-validation-for="Filter.FilterDate.FromDate" class="text-danger"></span>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-2 col-sm-12">
                            <div class="form-group">
                                <label>تا تاریخ:</label>
                                <div class="input-group">
                                    <input asp-for="Filter.FilterDate.ToDate" type="text" class=" form-control" autocomplete="off">
                                    <span asp-validation-for="Filter.FilterDate.ToDate" class="text-danger"></span>
                                </div>
                            </div>
                        </div>



                        <div class="form-group col-md-2 ">
                            <button style="border-radius:5px; margin-top:30px" class="alert-icon px-3 btn btn-success "
                                    type="submit">
                                فیلتر
                            </button>
                        </div>
                    </div>
                </div>
            </form>
            </div>
        </div>


        <div class="card-body pt-0">
            <div class="table-responsive">
                <table class="table table-xl table-bordered table-hover table-striped" id="data-table">
                    <thead class="bg-primary position-sticky top-0">
                        <!-- Added position-sticky and top-0 -->
                        <tr>
                            <th class="px-1 text-center">#</th>
                            <th class="px-1 text-center">شماره مجوز</th>
                            <th class="px-1 text-center">تاریخ ایجاد</th>
                            <th class="px-1 text-center"> صاحب کالا   </th>

                            <th class="px-1 text-center">کاربر صادرکننده </th>

                            <th class="px-1 text-center"> نام کالا   </th>
                            <th class="px-1 text-center"> بسته بندی </th>

                            <th class="px-1 text-center">   تعداد   </th>
                            <th class="px-1 text-center"> وزن </th>
                            <th class="px-1 text-center"> حجم   </th>
                            

                            <th class="px-1 text-center"> عملیات  </th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.List.Data)
                        {
                            <tr>
                                <td onclick="window.location.href='@Url.Action("Details", "InlandExportManifest", new { id = item.Id })'" class="align-middle cursor-pointer" style=" cursor: pointer;">@(i++)</td>
                                <td onclick="window.location.href='@Url.Action("Details", "InlandExportManifest", new { id = item.Id })'" class="align-middle cursor-pointer" style=" cursor: pointer;"> @item.ManifestNumber </td>
                                <td onclick="window.location.href='@Url.Action("Details", "InlandExportManifest", new { id = item.Id })'" class="align-middle cursor-pointer" style=" cursor: pointer;" dir="ltr">@item.CreatedDateFa</td>
                                <td onclick="window.location.href='@Url.Action("Details", "InlandExportManifest", new { id = item.Id })'" class="align-middle cursor-pointer" style=" cursor: pointer;">@item.Seo.OwnerName</td>

                                <td onclick="window.location.href='@Url.Action("Details", "InlandExportManifest", new { id = item.Id })'" class="align-middle cursor-pointer" style=" cursor: pointer;">@item.RegisterUserFullName</td>

                                <td onclick="window.location.href='@Url.Action("Details", "InlandExportManifest", new { id = item.Id })'" class="align-middle cursor-pointer" style=" cursor: pointer;">@item.Seo.ProductName </td>
                                <td onclick="window.location.href='@Url.Action("Details", "InlandExportManifest", new { id = item.Id })'" class="align-middle cursor-pointer" style=" cursor: pointer;">@item.Seo.ProductPackingName</td>

                                <td onclick="window.location.href='@Url.Action("Details", "InlandExportManifest", new { id = item.Id })'" class="align-middle cursor-pointer" style=" cursor: pointer;">@item.Seo.Count.ToPrice()</td>
                                <td onclick="window.location.href='@Url.Action("Details", "InlandExportManifest", new { id = item.Id })'" class="align-middle cursor-pointer" style=" cursor: pointer;">@item.Seo.ShipTonnage.ToPrice()</td>
                                <td onclick="window.location.href='@Url.Action("Details", "InlandExportManifest", new { id = item.Id })'" class="align-middle cursor-pointer" style=" cursor: pointer;">@item.Seo.Volume.ToPrice()</td>

                                <td onclick="window.location.href='@Url.Action("Details", "InlandExportManifest", new { id = item.Id })'" class="align-middle cursor-pointer" style=" cursor: pointer;"> </td>
                            </tr>
                        }

                    </tbody>
                </table>

                <div class="mt-4">
                    <cs-pager cs-paging-pagesize="@Model.List.PageSize"
                              cs-paging-pagenumber="@Model.List.PageNumber"
                              cs-paging-totalitems="@Model.List.TotalItems"
                              cs-paging-maxpageritems="10"
                              cs-pagenumber-param="p"
                              cs-show-first-last="true"
                              cs-suppress-empty-nextprev="true"
                              cs-suppress-inactive-firstlast="true"
                              cs-show-numbered="true"
                              cs-first-page-text="ابتدا"
                              cs-last-page-text="انتها"
                              cs-next-page-title="بعدی"
                              cs-previous-page-title="قبلی"
                              cs-first-page-title="ابتدا"
                              cs-last-page-title="انتها"
                              cs-next-page-text="بعدی"
                              cs-previous-page-text="قبلی"
                              cs-pager-li-current-class="page-item active"
                              cs-pager-li-other-class="page-item"
                              cs-pager-li-non-active-class="page-item disabled"
                              cs-pager-link-current-class="page-link"
                              cs-pager-link-other-class="page-link"
                              asp-controller="InlandExportManifest"
                              asp-action="Index">
                    </cs-pager>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="InlandExportManifestModal" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title">افزودن مجوز</h4>
                <button type="button" class="close btn-close rounded border" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body" id="modalbody">

                <div class="card-body pt-0">
                    <form asp-action="CreateInlandExportManifest" asp-controller="InlandExportManifest" method="post">
                        <div class="form-body">

                            <div class="row">


                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label> شماره مجوز</label>
                                        <div class="input-group">
                                            <input asp-for="CreateDto.ManifestNumber" type="text" class="form-control w-100 ">
                                            <span asp-validation-for="CreateDto.ManifestNumber" class="w-100 text-danger"></span>
                                        </div>
                                    </div>
                                </div>



                                <div class="col-sm-12 mt-3">
                                    <div class="form-group">
                                        <label>صاحب کالا</label>
                                        <div class="input-group">
                                            <select class="form-control select2 InlandExportManifestModal"
                                                    asp-for="CreateDto.ProductOwnerCompanyId"
                                                    asp-items="Model.Companies">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="modal-footer px-0 pb-0 border-0">
                                <button type="submit" class="btn btn-success btn-round"> ایجاد </button>
                                <button type="button" class="btn btn-danger btn-round" data-bs-dismiss="modal">بازگشت</button>
                            </div>

                        </div>
                    </form>
                </div>


            </div>
        </div>
    </div>
</div>



@section script {
    <script>
        $(document).ready(function () {
            $(".page-link").click(function (event) {
                event.preventDefault(); // غیرفعال کردن عملکرد پیشفرض href

                var hrefValue = $(this).attr("href");
                $("#pageNumber").val(hrefValue.split("p=")[1]);
                $("#formFilter").submit();
            });

             $('.select2').select2();

             $('select[class*="InlandExportManifestModal"].select2').select2({
                dropdownParent: $('#InlandExportManifestModal')
            });
        });

        kamaDatepicker('Filter_FilterDate_FromDate', customOptions);
        kamaDatepicker('Filter_FilterDate_ToDate', customOptions);

        $('#reportButton').click(function () {
            var button = $(this);
            var originalText = button.html();

            button.prop('disabled', true).html('<i class="fa-solid fa-spinner fa-spin"></i> در حال دریافت');

            // داده‌های فرم اصلی رو بردار و بریز تو فرم مخفی
            var data = $('#formFilter').serializeArray();
            var reportForm = $('#reportForm');
            reportForm.empty(); // پاک کردن قبلی‌ها
            $.each(data, function (i, field) {
                reportForm.append(
                    $('<input>', { type: 'hidden', name: field.name, value: field.value })
                );
            });

            // سابمیت به تب جدید
            reportForm.submit();

            // بعد از چند ثانیه دکمه برگرده
            setTimeout(function () {
                button.prop('disabled', false).html(originalText);
            }, 2000);
        });


        function ShowModalAddInlandExportManifest(event) {
            event.preventDefault();

            $("#InlandExportManifestModal").modal('show');
        }

    </script>
}