@model List<CreatePeronelDto>
@{
    ViewData["Title"] = "بارشمارهای شرکت";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
    int i = 1;
}

<div class="col-lg-12">
    <div class="card">
        <div class="card-header">
            <div class="d-flex justify-content-between">
             
                <h3 class="title">
                    <a asp-controller="Company" asp-action="Details" asp-route-companyId="@ViewBag.companyId"><i class="fa-solid fa-right-to-bracket me-2"></i></a>
                    <i class="icon-frane"></i> بارشمارهای شرکت (@ViewBag.company)
                </h3>
               
                <div>
                    <a asp-action="LoadCounterUser" asp-controller="Personel" class="alert-icon btn btn-success round">بارشمار جدید</a>
                    @* <a asp-controller="Company" asp-action="Details" asp-route-companyId="@ViewBag.companyId" class="btn btn-warning btn-round"> <i class="icon-close"> </i> برگشت</a> *@
                </div>
            </div>
        </div>
        <div class="card-body pt-0">
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped" id="data-table">
                    <thead class="bg-primary">
                        <tr>
                            <th>ردیف</th>
                            <th>بارشمار</th>
                            <th>تلفن</th>
                            <td>کد ملی</td>

                            <th>وضعیت</th>
                           @*  <td>عملیات</td> *@
                        </tr>
                    </thead>
                    <tbody>


                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="align-middle" >@(i++)</td>
                                <td class="align-middle" >@item.FirstName @item.LastName</td>
                                <td class="align-middle" >@item.Phone</td>
                                <td class="align-middle" >@item.MeliCode</td>

                                <td class="align-middle" >
                                    <span class="label px-2 py-1 rounded label-@(item.IsActive?"success":"danger")">@(item.IsActive ? "فعال" : "غیر فعال")</span>
                                </td>
                                 
                            </tr>

                        }



                    </tbody>
                </table>


            </div>
            <!-- /.table-responsive -->
        </div>
        <!-- /.portlet -->
    </div>
</div>

