@model WroVoyageManagerDto

<div class="row">
    <div class="col-md-6">
        <div class="card rounded-3 h-100">
            <div class="card-header">
                <div class="d-flex justify-content-between">
                    <h5 class="m-0">
                        <i class="icon-anchor"></i>
                        انتخاب شناور
                    </h5>
                    <button class="btn btn-success btn-sm" onclick="setVoyagesForWro()">
                        <i class="fa-solid fa-plus"></i> اضافه کردن انتخاب شده ها
                    </button>
                </div>
                <div class="mt-3">
                    <div class="row">
                        <div class="col-md-8">
                            <input type="text" id="voyageSearch" class="form-control" placeholder="شماره سفر/دریایی" 
                                   value="@Model.FilterDto.Search" onkeypress="if(event.keyCode==13) filterVoyages()">
                        </div>
                        <div class="col-md-4">
                            <button class="btn btn-primary w-100" onclick="filterVoyages()">
                                <i class="fa-solid fa-filter"></i> فیلتر
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body pt-0 mb-5">
                <table class="table table-bordered">
                    <thead class="bg-primary">
                        <tr>
                            <th><input type="checkbox" id="selectAllAvailable" /></th>
                            <th>شناور</th>
                            <th>شماره سفر</th>
                            <th>شماره دریایی</th>
                            <th>تناژ</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Voyages)
                        {
                            <tr>
                                <td style="width:30px;"><input type="checkbox" value="@item.Id" name="availableVoyageId" /></td>
                                <td>@item.ShipShipName</td>
                                <td>@item.VoyageNumber</td>
                                <td>@item.PmoNumber</td>
                                <td>@item.Tonnage?.ToPrice()</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card rounded-3 h-100">
            <div class="card-header">
                <div class="d-flex justify-content-between">
                    <h5 class="m-0">
                        <i class="icon-speech"></i>
                        شناورهای انتخاب شده (@Model.SelectedVoyages.Count)
                    </h5>
                    <button class="btn btn-danger btn-sm" onclick="removeVoyagesFromWro()">
                        <i class="fa-solid fa-trash"></i> حذف انتخاب شده ها
                    </button>
                </div>
            </div>
            <div class="card-body pt-0">
                <table class="table table-bordered">
                    <thead class="bg-primary">
                        <tr>
                            <th><input type="checkbox" id="selectAllSelected" /></th>
                            <th>شناور</th>
                            <th>شماره سفر</th>
                            <th>شماره دریایی</th>
                            <th>تناژ</th>
                            <th>وضعیت</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.SelectedVoyages)
                        {
                            <tr>
                                <td style="width:30px;"><input type="checkbox" value="@item.Id" name="selectedVoyageId" /></td>
                                <td>@item.ShipShipName</td>
                                <td>@item.VoyageNumber</td>
                                <td>@item.PmoNumber</td>
                                <td>@item.Tonnage?.ToPrice()</td>
                                <td>
                                    <a onclick="activationVoyage('@item.Id')">
                                        <span class="label p-2 py-1 rounded label-@(item.IsActive ? "success" : "danger")">
                                            @(item.IsActive ? "فعال" : "غیر فعال")
                                        </span>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
