@model WroMobileUsersManagerDto
@{
    ViewData["Title"] = "مدیریت کاربران خروج کالا";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
    int i = 1;
}

<div class="card">
    
    <div class="card-header">
        <div class="d-flex justify-content-between">
            <div>
                <span>
                    <i class="icon-frane"></i>
                    <a asp-action="Details" asp-route-wroId="@Model.PageInfo.Id"><i class="fa-solid fa-right-to-bracket me-2"></i></a>
                    مدیریت کاربران خروج کالا
                </span>
                <span class="label p-2 mx-2 rounded label-primary">@($"{Model.PageInfo.CaseNumber} - {Model.PageInfo.CardNumber}")</span>
                <span class="label p-2 mx-2 rounded label-info">@Model.PageInfo.CompanyAndSwrNumber</span>
            </div>
            <div>
                @DateTimeOffset.Now.ToLongPersianDateString()
                <i class="icon-calendar"></i>
            </div>
        </div>
    </div>

    <partial name="_WroInfo" model="Model.PageInfo" />
</div>


<div class="row mt-5">
    <div class="col-md-6">
        <div class="card rounded-3 h-100">
            <div class="card-header">
                <div class="d-flex justify-content-between">
                    <h3 class="title m-0">
                        <i class="icon-user"></i>
                        انتخاب کاربر
                    </h3>
                    <form asp-action="SetUserForWro" method="post" id="postUser">

                        <a class="btn mb-2 float-end btn-success text-white label rounded" onclick="setUserForWro();">اضافه کردن انتخاب شده ها</a>
                        <input id="selectUserId" name="ids" type="hidden" />
                        <input asp-for="FilterDto.WarehouseReceiptOutboundId" name="warehouseReceiptOutboundId" type="hidden" />
                    </form>
                </div><!-- /.portlet-title -->
            </div><!-- /.portlet-heading -->
            <div class="card-body pt-0 mb-5">


                <table class="table table-bordered ">
                    <thead class="bg-primary">
                    <tr>
                        <th> </th>
                        <th>نام و نام خانوادگی</th>
                        <td> نوع  </td>
                        <td>موبایل</td>
                            <td>کد ملی</td>
                    </tr>
                    </thead>
                    <tbody>
                    <form id="formFilter" asp-action="ManageUser" asp-route-WarehouseReceiptOutboundId="@Model.FilterDto.WarehouseReceiptOutboundId" method="post">
                        <input asp-for="FilterDto.WarehouseReceiptOutboundId" type="hidden" />
                        <div class="form-body mb-5">

                            <div class="row">
                                <div class="form-group col-lg-5 ">
                                    <label>جستجو</label>
                                    <div class="input-group">
                                        <input asp-for="FilterDto.Search" type="text" placeholder="نام/شماره تلفن" class="form-control">
                                    </div>
                                </div>

                                    <div class="form-group col-lg-4 ">
                                        <label>نوع کاربر</label>
                                        <div class="input-group">
                                            <select class="form-control select2"
                                                    asp-for="FilterDto.UserMobileType">
                                                <option value="">همه کاربرها</option>
                                                <option value="2">@(UserMobileType.BarshomarMohavate.ToDisplay())</option>
                                                <option value="6">@(UserMobileType.Barshomar.ToDisplay())</option>
                                            </select>
                                        </div>
                                    </div>

                                <div class="col-lg-3">
                                    <div style="margin-top:32px;" class="d-flex justify-content-around">
                                        <button class="alert-icon btn btn-success label rounded w-100" type="submit"><p>فیلتر</p></button>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </form>


                    @foreach (var item in Model.Users)
                    {
                        <tr>
                            <td style="width:30px;"><input type="checkbox" value="@item.Id" name="UserId" /></td>
                            <td>@item.UserFullName</td>
                            <td>@item.TypeTitle</td>
                            <td>@item.Phone</td>
                            <td>@item.MeliCode</td>
                        </tr>
                    }
                    </tbody>
                </table>

                <!-- /.tab-content -->

            </div>
            <div class="card-footer bg-white border-0 p-0">

            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card rounded-3 h-100">
            <div class="card-header">
                <div class="d-flex justify-content-between d-flex">
                    <h3 class="title m-0">
                        <i class="icon-speech"></i>
                        کاربران انتخاب شده
                    </h3>
                    <form asp-action="RemoveUserFromWro" method="post" id="deleteUser">

                        <a class="btn btn-danger text-white label rounded" onclick="deleteUser();">حذف انتخاب شده ها</a>
                        <input id="removeIds" name="ids" type="hidden" />
                        <input asp-for="FilterDto.WarehouseReceiptOutboundId" name="WarehouseReceiptOutboundId" type="hidden" />

                    </form>
                </div><!-- /.portlet-title -->
                <!-- /.buttons-box -->
            </div><!-- /.portlet-heading -->
            <div class="card-body pt-0">
                <table class="table table-bordered ">
                    <thead class="bg-primary">
                    <tr>
                        <th> </th>
                        <th>نام و نام خانوادگی</th>
                        <td> نوع  </td>
                        <td>موبایل</td>
                        <td>کد ملی</td>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var item in Model.SelectedUsers)
                    {
                        <tr>
                            <td style="width:30px;"><input type="checkbox" value="@item.Id" name="selectedUserId" /></td>
                            <td>@item.UserFullName</td>
                            <td>@item.TypeTitle</td>
                            <td>@item.Phone</td>
                            <td>@item.MeliCode</td>
                        </tr>
                        i++;
                    }
                    </tbody>
                </table>
            </div>
            <div class="card-footer bg-white border-0 p-0">
                
            </div>
        </div>
    </div>
</div>

@section script {
    <script>
        function setUserForWro() {
            var ids = "";
            $("#selectUserId").val('');
            $("input:checkbox[name=UserId]:checked").each(function () {
                if (ids) {
                    ids += ',' + $(this).val();
                }
                else {
                    ids = $(this).val();
                }
            });
            $("#selectUserId").val(ids);
            if (ids) {
                $("#postUser").submit();
            }
            else {
                showAlert2('کاربری انتخاب نشده است', 1);
                return;
            }
        }

        function deleteUser() {
            var ids = "";
            $("#removeIds").val('');
            $("input:checkbox[name=selectedUserId]:checked").each(function () {
                if (ids) {
                    ids += ',' + $(this).val();
                }
                else {
                    ids = $(this).val();
                }
            });
            $("#removeIds").val(ids);
            if (ids) {
                $("#deleteUser").submit();
            }
            else {
                showAlert2('کاربری انتخاب نشده است', 1);
                return;
            }
        }
    </script>
}
