@model GetSeoEquipmentPerformancePage
@{
    ViewData["Title"] = "عملکرد تجهیزات";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
    int i = 1;
}

<div class="card p-2 mb-4">
    <div class="row">
        <div class="col-md-1 align-middle align-content-center px-4">
            <i class="fa-solid fa-circle-info fs-4 align-middle"></i>
        </div>
        <div class="col-md-11 px-5">
            <div class="d-flex justify-content-between align-items-center">
                <div class="glass-bg px-2 py-1">
                    <p class="fs-6 m-0">گزارش عملکرد تجهیزات</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-12">
    <div class="card">
        <div class="card-header pb-2">
            <div class="row gy-4">
                <div class="col-md-4 d-flex align-items-center">
                    <h3 class="title">
                        <a asp-controller="Seo" asp-action="seoAccessPage" asp-route-SeoId="@Model.Filter.SeoId"><i class="fa-solid fa-right-to-bracket me-2"></i></a>
                        <i class="icon-frane"></i> خلاصه عملکرد تجهیزات
                    </h3>
                </div>
                <div class="d-block d-lg-flex col-md-8 col-12 justify-content-end">
                    <div class="buttons-box">
                        <i class="icon-size-fullscreen"></i>
                        <div class="paper-ripple">
                            <div class="paper-ripple__background"></div>
                            <div class="paper-ripple__waves"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body pt-0">
            <form id="formFilter" asp-action="GetSeoEquipmentPerformance" method="post">
                <input name="p" id="pageNumber" hidden />
                <input name="Filter.SeoId" id="pageNumber" hidden value="@Model.Filter.SeoId" />
                <div class="form-body">
                    <div class="row gy-4">
                        <div class="col-md-3 col-sm-12">
                            <div class="form-group">
                                <label>تاریخ:</label>
                                <div class="input-group d-flex flex-column">
                                    <input type="text" class="form-control" name="Filter.TaliDateFa" id="TaliDateFa" autocomplete="off" placeholder="تاریخ" value="@Model.Filter.TaliDateFa">
                                    <span class="text-danger" asp-validation-for="Filter.TaliDateFa"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-2">
                            <button style="border-radius:5px; margin-top:30px" class="alert-icon px-3 btn btn-success" type="submit">
                                فیلتر
                            </button>
                        </div>
                    </div>
                </div>
            </form>

            <div class="table-responsive mt-4">
                <table class="table table-sm table-bordered table-hover table-striped" id="data-table">
                    <thead class="bg-primary">
                        <tr>
                            <th class="px-1 text-center">#</th>
                            
                            <th class="px-1 text-center">تاریخ</th>
                            <th class="px-1 text-center">بارنامه</th>
                            <th class="px-1 text-center">تجهیز / کامیون</th>
                            <th class="px-1 text-center">تعداد تالی</th>
                            <th class="px-1 text-center">وزن کل</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Data)
                        {
                            <tr>
                                <td class="align-middle px-2 text-center">@(i++)</td>
                                <td class="align-middle px-2 text-center">@item.TaliDate</td>
                                <td class="align-middle px-2 text-center">@item.BlNumber</td>
                                <td class="align-middle px-2 text-center">@item.EntityName</td>
                                <td class="align-middle px-2 text-center">@item.TaliCount.ToString("N0")</td>
                                <td class="align-middle px-2 text-center">@item.TotalWeight.ToString("N2")</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div id="EquipmentDetailsModalId">
</div>

@section script {
    <script src="~/assets/js/validation/jquery.validate.min.js"></script>
    <script src="~/assets/js/validation/jquery.validate.unobtrusive.min.js"></script>
    <script>
        $(document).ready(function () {
            // Initialize Persian date picker
            kamaDatepicker('TaliDateFa', customOptions);

            // Handle pagination
            $(".page-link").click(function (event) {
                event.preventDefault();
                var hrefValue = $(this).attr("href");
                $("#pageNumber").val(hrefValue.split("p=")[1]);
                $("#formFilter").submit();
            });
        });
    </script>
}