@model SeoMobileUsersManagerDto
@{
    ViewData["Title"] = "مدیریت کاربران CHO";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
    int i = 1;
}

<div class="col-md-12">
    <div class="bg-white rounded-3 p-3 border shadow">
        <div class="d-flex justify-content-between">
 
            <span class="d-flex align-items-end align-items-center">
                <span class="d-flex">
                    <a asp-controller="Seo" class="align-content-end fs-6" asp-action="SeoPortOperatorPage" asp-route-seoId="@((Guid)ViewBag.seoId)"><i class="fa-solid fa-right-to-bracket me-2"></i></a>
                    <p class="mb-0 fs-6"> مدیریت کاربران CHO</p>
                </span>
                <span class="label p-2 mx-2 rounded label-primary">@ViewBag.seocode</span>
                <span class="label p-2 mx-2 rounded label-info">@(((TransportType)ViewBag.seotype).ToDisplay(DisplayProperty.Name))</span>
            </span>
            <div class="d-flex align-items-center">
                @DateTimeOffset.Now.ToLongPersianDateString()
                <i class="icon-calendar ms-2 "></i>
            </div>
        </div>
    </div>
</div>
<div class="row mt-5">
    <div class="col-md-6">
        <div class="card rounded-3 min-height-600">
            <div class="card-header">
                <div class="d-flex justify-content-between">
                    <h3 class="title m-0">
                        <i class="icon-user"></i>
                        انتخاب کاربر
                    </h3>
                    <form asp-action="SetUserForSeo" method="post" id="postUser">

                        <a class="btn mb-2 float-end btn-success text-white label rounded" onclick="setUserForSeo();">  +  اضافه کردن انتخاب شده ها</a>
                        <input id="selectUserId" name="ids" type="hidden" />
                        <input asp-for="FilterDto.SeoId" name="seoId" type="hidden" />
                    </form>
                </div><!-- /.portlet-title -->
            </div><!-- /.portlet-heading -->
            <div class="card-body pt-0 mb-5">


                <table class="table table-bordered ">
                    <thead class="bg-primary">
                        <tr>
                            <th> </th>
                            <th>نام و نام خانوادگی</th>
                            <td> نوع  </td>
                            <td>موبایل</td>
                        </tr>
                    </thead>
                    <tbody>
                        <form id="formFilter" asp-action="SeoUserManage" asp-route-seoId="@Model.FilterDto.SeoId" method="post">
                            <input asp-for="FilterDto.SeoId" type="hidden" />
                            <div class="form-body mb-5">

                                <div class="row">
                                    <div class="form-group col-lg-5 ">
                                        <label>جستجو</label>
                                        <div class="input-group">
                                            <input asp-for="FilterDto.Search" type="text" placeholder="نام/شماره تلفن" class="form-control">
                                        </div>
                                    </div>

                                    <div class="form-group col-lg-4 ">
                                        <label>نوع کاربر</label>
                                        <div class="input-group">
                                            <select class="form-control select2"
                                                    asp-for="FilterDto.UserMobileType">
                                                <option value="">همه کاربرها</option>
                                                <option value="1">بارشمار</option>
                                                <option value="2">انباردار</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-lg-3">
                                        <div style="margin-top:32px;" class="d-flex justify-content-around">
                                            <button class="alert-icon btn btn-success label rounded w-100" type="submit"><p>فیلتر</p></button>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </form>


                        @foreach (var item in Model.Users)
                        {
                            <tr>
                                <td style="width:30px;"><input type="checkbox" value="@item.Id" name="UserId" /></td>
                                <td>@item.UserFullName</td>
                                <td>@item.TypeTitle</td>
                                <td>@item.Phone</td>
                            </tr>
                        }
                    </tbody>
                </table>

                <!-- /.tab-content -->

            </div><!-- /.portlet-body -->
        </div>
    </div>
    <div class="col-md-6">
        <div class="card rounded-3">
            <div class="card-header">
                <div class="d-flex justify-content-between d-flex">
                    <h3 class="title m-0">
                        <i class="icon-speech"></i>
                        کاربران انتخاب شده
                    </h3>
                    <form asp-action="RemoveUserFormSeo" method="post" id="deleteUser">

                        <a class="btn btn-danger text-white label rounded" onclick="deleteProduct();"> <i class="fa fa-trash me-2"></i> حذف انتخاب شده ها </a>
                        <input id="removeIds" name="ids" type="hidden" />
                        <input asp-for="FilterDto.SeoId" name="seoId" type="hidden" />

                    </form>
                </div><!-- /.portlet-title -->
                <!-- /.buttons-box -->
            </div><!-- /.portlet-heading -->
            <div class="card-body pt-0">
                <table class="table table-bordered ">
                    <thead class="bg-primary">
                        <tr>
                            <th> </th>
                            <th>نام و نام خانوادگی</th>
                            <td> نوع  </td>
                            <td>موبایل</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.SelectedUsers)
                        {
                            <tr>
                                <td style="width:30px;"><input type="checkbox" value="@item.Id" name="selectedUserId" /></td>
                                <td>@item.UserFullName</td>
                                <td>@item.TypeTitle</td>
                                <td>@item.Phone</td>

                            </tr>
                            i++;
                        }
                    </tbody>
                </table>

                <!-- /.tab-content -->

            </div><!-- /.portlet-body -->
        </div>
    </div>
</div>
@section script {
    <script>
        function setUserForSeo() {
            var ids = "";
            $("#selectUserId").val('');
            $("input:checkbox[name=UserId]:checked").each(function () {
                if (ids) {
                    ids += ',' + $(this).val();
                }
                else {
                    ids = $(this).val();
                }
            });
            $("#selectUserId").val(ids);
            if (ids) {
                $("#postUser").submit();
            }
            else {
                showAlert2('کاربری انتخاب نشده است', 1);
                return;
            }
        }
        function deleteProduct() {
            var ids = "";
            $("#removeIds").val('');
            $("input:checkbox[name=selectedUserId]:checked").each(function () {
                if (ids) {
                    ids += ',' + $(this).val();
                }
                else {
                    ids = $(this).val();
                }
            });
            $("#removeIds").val(ids);
            if (ids) {
                $("#deleteUser").submit();
            }
            else {
                showAlert2('کاربری انتخاب نشده است', 1);
                return;
            }
        }
    </script>
}
