@using Entities.Entities.Hirman
@model TaliWithoutWeightPageDto
@{
    ViewData["Title"] = "تالی های فاسد";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
    int i = 1;
}

<div class="col-lg-12">
    <div class="card bg-white">
        <div class="card-header">

            <div class="d-flex justify-content-between">
                <h3 class="title">
                    <i class="icon-frane"></i> تالی های فاسد
                </h3>
                <div class="d-none d-md-block">


                    <button id="reportButton" type="submit" form="formFilter" formaction="@Url.Action("TaliWithoutWeightExcel", "PortTruckExit")"
                            class="btn btn-primary rounded">
                        <i class="fa-solid fa-download me-2"></i>دریافت فایل اکسل
                    </button>

                </div>

                <!-- /.portlet-title -->
                <!-- /.portlet-heading -->
                <!-- /.portlet-body -->
            </div>

            <button id="reportButton" type="submit" form="formFilter" formaction="@Url.Action("TaliWithoutWeightExcel", "PortTruckExit")"
                    class="btn btn-primary rounded w-100 my-3 d-md-none d-block">
                <i class="fa-solid fa-download me-2"></i>دریافت فایل اکسل
            </button>

        </div>

        <div class="card-body pt-0">

            <div id="data-table_filter" class="dataTables_filter">
                <div class="card-body pt-0">
                    <form id="formFilter" asp-action="TaliWithoutWeight"  method="post">
                        <input name="filter.Page" id="pageNumber" hidden />

                        <div class="form-body">
                            <div class="row">

                                <div class="col-md-2 col-sm-12">
                                    <div class="form-group">
                                        <label>از تاریخ:</label>
                                        <div class="input-group">
                                            <input asp-for="Filter.FilterDate.FromDate" type="text" class=" form-control" autocomplete="off">
                                            <span asp-validation-for="Filter.FilterDate.FromDate" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-md-2 col-sm-12">
                                    <div class="form-group">
                                        <label>تا تاریخ:</label>
                                        <div class="input-group">
                                            <input asp-for="Filter.FilterDate.ToDate" type="text" class=" form-control" autocomplete="off">
                                            <span asp-validation-for="Filter.FilterDate.ToDate" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-2 col-sm-12">
                                    <div class="form-group ">
                                        <label>نوع حمل </label>
                                        <div class="input-group">
                                            <select class="form-control select2"
                                                    asp-for="Filter.UnLoadType"
                                                    asp-items="@Html.GetEnumSelectList<ServiceUnLoadType>()">
                                                <option value="">همه </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="form-group col-md-2">
                                    <label>   </label>
                                    <div class="input-group activeor">
                                        <label>
                                            <input type="checkbox" asp-for="Filter.OnlyWithoutBaskolWeight" class="form-check-input">
                                            فقط تالی های بدون وزن باسکول
                                        </label>
                                    </div>
                                </div>
                                
                                <div class="form-group col-md-2 ">
                                    <button style="border-radius:5px; margin-top:30px" class="alert-icon px-3 btn btn-success "
                                            type="submit">
                                        جستجو
                                    </button>
                                </div>

                            </div>

                        </div>
                    </form>
                </div>
            </div>

            <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped" id="data-table">
                    <thead class="bg-primary">
                        <tr>
                            <td>#</td>
                            <td>تاریخ  </td>
                             <td>شماره پلاک  </td>
                            <td>شناور</td>
                            <td>  (شماره سفر) - شماره دریایی  </td>
                            <td>صاحب کالا</td>
                            <td>نوع حمل  </td>
                            <td>بدون بار    </td>
                            <td>وزن خالی  </td>
                            <td>وزن پر  </td>
                            <td>وزن بار  </td>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model?.List?.Data.Any() == true)
                        {
                            foreach (var item in Model.List.Data)
                            {
                                <tr>
                                   <td class="d-none">
										<div class="d-none">
											<input type="hidden" name="taliId" value="@item.TaliId" />
										</div>
									</td>
                                    <td>@(i++)</td>
                                    <td dir="ltr">@item.DateTaliFa</td>
                                    <td>@item.CarPlates</td>
                                    <td> <a asp-action="CompactTali" asp-controller="Voyage" asp-route-voyageId="@item.VoyageId">@item.ShipName</a> </td>
                                    <td>@item.PmoNumber (@item.VoyageNumber)</td>
                                    <td>@item.CompanyOwnerName</td>
                                    <td>@item.UnLoadTypeTitle</td>
                                    <td>@(item.IsFirstLoadTitle)</td>

                                    <td>@item.WeightFreeTitle</td>
                                    <td>@item.WeightFullTitle</td>
                                    <td>@item.WeightLoadTitle</td>
                                </tr>
                            }
                        }

                    </tbody>
                </table>


                <div class="mt-4">
                    <cs-pager cs-paging-pagesize="@Model.List.PageSize"
                              cs-paging-pagenumber="@Model.List.PageNumber"
                              cs-paging-totalitems="@Model.List.TotalItems"
                              cs-paging-maxpageritems="10"
                              cs-pagenumber-param="p"
                              cs-show-first-last="true"
                              cs-suppress-empty-nextprev="true"
                              cs-suppress-inactive-firstlast="true"
                              cs-show-numbered="true"
                              cs-first-page-text="ابتدا"
                              cs-last-page-text="انتها"
                              cs-next-page-title="بعدی"
                              cs-previous-page-title="قبلی"
                              cs-first-page-title="ابتدا"
                              cs-last-page-title="انتها"
                              cs-next-page-text="بعدی"
                              cs-previous-page-text="قبلی"
                              cs-pager-li-current-class="page-item active"
                              cs-pager-li-other-class="page-item"
                              cs-pager-li-non-active-class="page-item disabled"
                              cs-pager-link-current-class="page-link"
                              cs-pager-link-other-class="page-link"
                              asp-controller="PortTruckExit"
                              asp-action="TaliWithoutWeight">
                    </cs-pager>
                </div>

            </div>


            <!-- /.table-responsive -->
        </div>
        <!-- /.portlet-body -->
        <!-- /.portlet -->
    </div>

</div>



@section script {

    <script>
        $(document).ready(function () {
            $('.select2').select2();

           kamaDatepicker('Filter_FilterDate_FromDate', customOptions);
           kamaDatepicker('Filter_FilterDate_ToDate', customOptions);

           $(".page-link").click(function (event) {
                event.preventDefault(); // غیرفعال کردن عملکرد پیشفرض href

                var hrefValue = $(this).attr("href");
                $("#pageNumber").val(hrefValue.split("p=")[1]);
                $("#formFilter").submit();
            });
        });

        

    </script>
}