@model EquipmentFailurePageDto
@{
    ViewData["Title"] = "خرابی تجهیزات";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
    int i = ((Model.FailureList.PageNumber - 1) * Model.FailureList.PageSize) + 1;
}


@section style {
    
}


<div class="col-lg-12">
    <div class="card">
        <div class="card-header pb-0">
            <div class="d-flex justify-content-between">
                
                    <h3 class="title">
                        <i class="icon-frane"></i>
                    @if (ViewBag.seoId != null)
                    {
                        <a asp-controller="Seo" asp-action="SeoPortOperatorPage" asp-route-seoId="@((Guid)ViewBag.seoId)"><i class="fa-solid fa-right-to-bracket me-2"></i></a>
                    }
                        لیست خرابی تجهیزات
                    </h3>
                
              
            </div>
            <!-- /.portlet-title -->
            <div class="buttons-box">

                <i class="icon-size-fullscreen"></i>
                <div class="paper-ripple">
                    <div class="paper-ripple__background"></div>
                    <div class="paper-ripple__waves"></div>
                </div>
            </div>

            <!-- /.portlet-heading -->
            <!-- /.portlet-body -->
        </div>
        <div class="card-body pt-0">
            <form id="formFilter" asp-action="Failure" asp-route-p="" method="post">
                <input name="p" id="pageNumber" hidden />
                <div class="form-body ">
                    <div class="row">
                        <div class="row col-md-8">
                            <div class="form-group col-md-6">
                                <label>شرکت</label>
                                <div class="input-group">
                                    <select class="form-control select2"
                                            asp-for="Filter.CompanyId"
                                            asp-items="Model.TajhizatCompanies">
                                        <option value="">همه شرکت ها</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label>CHO</label>
                                <div class="input-group">
                                    <select class="form-control select2"
                                            asp-for="Filter.SeoId"
                                            asp-items="Model.Seos">
                                        <option value="">همه CHO</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="form-group col-sm-3">
                                    <label>از تاریخ:</label>
                                    <div class="input-group">
                                        <input asp-for="Filter.DateFrom" type="text" class=" form-control" autocomplete="off">
                                        <span asp-validation-for="Filter.DateFrom" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="form-group col-sm-3 ms-2">
                                    <label>تا تاریخ:</label>
                                    <div class="input-group">
                                        <input asp-for="Filter.DateTo" type="text" class=" form-control" autocomplete="off">
                                        <span asp-validation-for="Filter.DateTo" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="col-md-2 d-flex justify-content-center flex-wrap align-content-center">
                                    <div class="">
                                        <button style="margin-top:26px; border-radius:5px" class="alert-icon btn btn-success " type="submit"><p class="px-3">فیلتر</p></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>تجهیزات</label>
                                <div class="input-group">
                                    <select class="form-control select2"
                                            asp-for="Filter.EquipmentIds"
                                            asp-items="Model.Equipments">
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <!-- /.table-responsive -->
        </div>
        <div class="table-responsive vh-100 px-3">
            <table class="table table-bordered table-hover table-striped" id="data-table">
                <thead class="bg-primary">
                    <tr>
                        <th>ردیف</th>
                        <th>نام تجهیز</th>
                        <td>شناسه تجهیز</td>
                        <td>دسته تجهیز</td>
                        <td>نوع تجهیز</td>
                        <td>مدل تجهیز</td>

                        <td>CHO</td>

                        <td>تاریخ خرابی</td>
                        <td> شرح</td>
                        <td>عملیات</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.FailureList.Data)
                    {
                        <tr>
                            <td>@(i++)</td>
                            <td>@item.Equipment.EquipmentName</td>
                            <td>@item.Equipment.EquipmentId</td>
                            <td>@item.Equipment.EquipmentCategoryName</td>
                            <td>@item.Equipment.EquipmentType.ToDisplay()</td>
                            <td>@item.Equipment.Model</td>

                            <td>@item.SeoSeoCode</td>
                            <td>@item.DateFailureFa</td>

                            <td>@item.Description</td>

                            <td>
                                <a class="btn btn-warning btn-sm btn-icon curve" asp-action="CreateEquipment" asp-route-companyId="@item.Equipment.CompanyId" asp-route-equipmentId="@item.Equipment.Id"><i class="icon-pencil"></i></a>
                            </td>
                        </tr>

                    }

                </tbody>
            </table>
            <div class="mt-4">
                <cs-pager cs-paging-pagesize="@Model.FailureList.PageSize"
                          cs-paging-pagenumber="@Model.FailureList.PageNumber"
                          cs-paging-totalitems="@Model.FailureList.TotalItems"
                          cs-paging-maxpageritems="10"
                          cs-pagenumber-param="p"
                          cs-show-first-last="true"
                          cs-suppress-empty-nextprev="true"
                          cs-suppress-inactive-firstlast="true"
                          cs-show-numbered="true"
                          cs-first-page-text="ابتدا"
                          cs-last-page-text="انتها"
                          cs-next-page-title="بعدی"
                          cs-previous-page-title="قبلی"
                          cs-first-page-title="ابتدا"
                          cs-last-page-title="انتها"
                          cs-next-page-text="بعدی"
                          cs-previous-page-text="قبلی"
                          cs-pager-li-current-class="page-item active"
                          cs-pager-li-other-class="page-item"
                          cs-pager-li-non-active-class="page-item disabled"
                          cs-pager-link-current-class="page-link"
                          cs-pager-link-other-class="page-link"
                          asp-controller="Equipment"
                          asp-action="Failure">
                </cs-pager>
            </div>

        </div>
        <!-- /.portlet -->
    </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="myModalLabel">جزئیات</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p id="modalInfo"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">بستن</button>
                </div>
            </div>
        </div>
    </div>

</div>


@section script {

    <script>
        $(document).ready(function () {
        @*val('@ViewData["CategoryProductId"]')*@
                $("#Filter_CompanyId").select2().trigger('change');
            var cId = $("#Filter_CompanyId").val();
            $("#Filter_CompanyId").change(function () {

                var url = "@Url.Action("GetEquipmentListAsJson", "Equipment")";
                $.getJSON(url, { companyId: $("#Filter_CompanyId").val() }, function (data) {

                    var item = '';

                    $("#Filter_EquipmentIds").empty();
                    $.each(data, function (i, val) {
                        if (val == null) {
                            $("#Filter_EquipmentIds").empty();
                        }
                        else {
                            item += "<option value='" + val.id + "'>" + val.title + "</option>";
                        }

                    });
                    $("#Filter_EquipmentIds").html(item);
                });

            });

        });


        kamaDatepicker('Filter_DateFrom', customOptions);
        kamaDatepicker('Filter_DateTo', customOptions);


        $(".page-link").click(function (event) {
            event.preventDefault(); // غیرفعال کردن عملکرد پیشفرض href

            var hrefValue = $(this).attr("href");
            $("#pageNumber").val(hrefValue.split("p=")[1]);
            $("#formFilter").submit();
        });
    </script>
}


