@model ContainerStripProductPageDto

@{
	ViewData["Title"] = "تعرفه استریپ کانتینر";
	Layout = "~/Views/Shared/AdminLayout.cshtml";
	int groupIndex = 1;
}

<div class="col-lg-12">
	<div class="card">
		<div class="card-header pb-0">
			<div class="d-flex justify-content-between">
				<h3 class="title">
					<button type="button" class="btn bg-transparent p-0 fs-6 text-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
						<i class="fa-solid fa-right-to-bracket me-2"></i>
					</button>
					تعرفه استریپ کانتینر
				</h3>

				<a class="btn btn-success d-md-block d-none" style="border-radius:5px" onclick="showCreateProductModal()">
					<i class="icon-plus"></i> ثبت محصول جدید
				</a>
			</div>
			<form id="formFilter" asp-action="List" method="post">
				<input name="p" id="pageNumber" hidden />
				<div class="row gy-4">
					<div class="form-group col-md-3">
						<label>جستجو</label>
						<input asp-for="Filter.Search" class="form-control" placeholder="عنوان محصول">
						<span asp-validation-for="Filter.Search" class="text-danger"></span>
					</div>
					<div class="col-md-2">
						<button style="margin-top:30px; border-radius:5px" class="btn btn-success" type="submit">
							فیلتر
						</button>
					</div>
				</div>
			</form>
		</div>

		<div class="card-body pt-0">
			<div class="table-responsive mt-3">
				<table class="table table-bordered table-hover table-striped">
					<thead class="bg-primary">
					<tr>
						<th>ردیف</th>
						<th>نوع محصول</th>
						<th>عنوان محصول</th>
						<th>تعرفه</th>
						<th>عملیات</th>
					</tr>
					</thead>
					<tbody>
					@foreach (var group in Model.Data)
					{
						var products = group.ContainerStripProducts;
						var rowspan = products.Count;
						var typeName = group.ContainerFreightType.ToDisplay();

						for (int i = 0; i < rowspan; i++)
						{
							var product = products[i];
							<tr>
								@if (i == 0)
								{
									<td class="align-middle" rowspan="@rowspan">@groupIndex</td>
									<td class="align-middle" rowspan="@rowspan">@typeName</td>
									groupIndex++;
								}
								<td class="align-middle">@product.Title</td>

								<td class="align-middle">
									@if (product.ContainerStripProductTariff != null)
									{
										<div>
											<span>قیمت: @product.ContainerStripProductTariff.Price.ToPrice() @product.ContainerStripProductTariff.CurrencyTypeTitle</span><br />
											<span>@product.ContainerStripProductTariff.StartDateFa - @product.ContainerStripProductTariff.EndDateFa</span><br />
										</div>
									}
									else
									{
										<span>تعرفه ندارد</span>
									}
								</td>
								<td class="align-middle">
									<a id="Delete@(product.Id)" onclick="ShowQAlert(event,'Delete@(product.Id)');"
									   asp-action="Delete" asp-route-containerStripProductId="@product.Id"
									   class="btn btn-danger btn-sm btn-icon px-2 ms-1">
										<i class="icon-trash fs-6 align-middle fa-flip-horizontal"></i>
									</a>
									<a class="btn btn-primary px-3 btn-sm" href="/ContainerStripProduct/ListTariff?containerStripProductId=@product.Id">
										<i class="fa fa-edit"></i> تعرفه‌ها
									</a>
								</td>
							</tr>
						}
					}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<!-- Modal -->
<div id="productModal" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">ثبت محصول جدید</h4>
				<button type="button" class="close btn-close rounded border" data-bs-dismiss="modal"></button>
			</div>
			<div class="modal-body" id="modalBody">
				<partial name="_CreateContainerStripProduct" model="@Model.Create" />
			</div>
		</div>
	</div>
</div>

@section script {
	<script>
		$(document).ready(function () {



			$('select[class*="generalmodal"].select2').select2({
				dropdownParent: $('#productModal')
			});
		});

		function showCreateProductModal() {
			$('#productModal').modal('show');
		}
	</script>
}
