@model TaliOneProductPageDto

@{
	int taliSafafRow = 1;
}

<div id="taliListModal" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog" tabindex="-1">
	<div class="modal-dialog modal-xl modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">لیست تالی - بارنامه  @Model.BillOfLadingNumberTitle (@Model.Product?.ProductName)</h4>
				<button type="button" class="close btn-close rounded border" data-bs-dismiss="modal"></button>
			</div>
			<div class="modal-body" id="modalbody">

				<div class="table-responsive mt-5">
					<table class="table table-sm table-bordered table-hover table-striped" id="data-table">
						<thead class="bg-primary">
							<tr>
								<th class="px-1 text-center">#</th>
								<th class="px-1 text-center">تاریخ</th>
								<th class="px-1 text-center">نوع شمارش</th>
								<th class="px-1 text-center">@(Model.IsSelfTransported ? "شماره شاسی" : "کامیون")</th>
								<th class="px-1 text-center">کاربر</th>
								<th class="px-1 text-center">تعداد   </th>

								<th class="px-1 text-center">انبار</th>

								<th class="px-1 text-center">توضیحات</th>
								<th class="px-1 text-center">مشکل دار</th>
								<th class="px-1 text-center">فایل ها</th>


							</tr>
						</thead>
						<tbody>


							@foreach (var item in Model.List)
							{
								<tr>
									<td class="align-middle px-2 text-center">@(taliSafafRow++)</td>
									<td class="align-middle px-2 text-center" dir="ltr">  @item.DateFa </td>
									<td class="align-middle px-2 text-center" dir="ltr">  @item.TaliTypeTitle </td>
									<td class="align-middle px-2 text-center"> @(Model.IsSelfTransported ? Model.VehicleIdentificationNumber : item.TruckTitle)  </td>

									<td class="align-middle px-2 text-center"> @item.UserFullName </td>
									<td class="align-middle px-2 text-center"> @item.Count.ToPrice() </td>

									<td class="align-middle px-2 text-center"> @item.WarehouseTitle </td>

									<td class="align-middle px-2 text-center"> @item.Description </td>

									<td class="align-middle px-2 text-center">
										<span class="label px-2 py-1 rounded label-@(!item.IsProblem?"success":"danger")">
											@(!item.IsProblem ? "سالم" : $" {item.CountProblem.ToPrice()} مشکل دار")
										</span>
									</td>

									<td class="align-middle px-2 text-center">
										@if (item.Files?.Any() == true)
										{
											for (int fileIndex = 0; fileIndex < item.Files.Count; fileIndex++)
											{
												<a asp-action="TaliFile"
												   asp-route-TaliProductId="@item.TaliProductId"
												   asp-route-FileName="@item.Files[fileIndex].FileName"
												   class="btn btn-primary p-2 py-0 mb-1" target="_blank">فایل @(fileIndex + 1)</a>
											}
										}

									</td>
								</tr>
							}
						</tbody>
					</table>

				</div>

			</div>
		</div>
	</div>
</div>
