@model VoyageMobileUsersManagerDto
@{
    ViewData["Title"] = "مدیریت کاربران سفر";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
    int i = 1;
}

<div class="col-md-12">
    <div class="bg-white rounded-3 p-3 shadow-sm">
        <div class="d-flex justify-content-between">
            <div>
                <span>
                    <i class="icon-frane"></i>
                    <a asp-controller="Voyage" asp-action="VoyageSeo" asp-route-VoyageId="@Model.VoyageInfo.Id"><i class="fa-solid fa-right-to-bracket me-2"></i></a>
                     مدیریت کاربران سفر  
                </span>
                <span class="label p-2 mx-2 rounded label-primary">@($"{Model.VoyageInfo.ShipShipName} - {Model.VoyageInfo.PmoNumber}")</span>
                <span class="label p-2 mx-2 rounded label-info">@Model.VoyageInfo.TransportTypeTitle</span>
            </div>
            
            <div>
                @DateTimeOffset.Now.ToLongPersianDateString()
                <i class="icon-calendar"></i>
            </div>
        </div>
    </div>
</div>
<div class="row mt-3">
    <div class="col-md-6">
        <div class="card rounded-3 min-height-600">
            <div class="card-header pb-3">
                <div class="d-flex justify-content-between">
                    <h3 class="title m-0">
                        <i class="icon-user"></i>
                        انتخاب کاربر
                    </h3>
                    <form asp-action="SetUserForVoyage" method="post" id="postUser">

                        <a class="btn mb-2 float-end btn-success text-white label rounded" onclick="setUserForVoyage();">اضافه کردن انتخاب شده ها</a>
                        <input id="selectUserId" name="ids" type="hidden" />
                        <input asp-for="FilterDto.VoyageId" name="VoyageId" type="hidden" />
                    </form>
                </div>
                <div>
                    <form id="formFilter" asp-action="ManageUser" asp-route-voyageId="@Model.FilterDto.VoyageId" method="post">
                        <input asp-for="FilterDto.VoyageId" type="hidden" />
                        <div class="form-body mb-0">

                            <div class="row">
                                <div class="form-group col-lg-5 ">
                                    <label>جستجو</label>
                                    <div class="input-group">
                                        <input asp-for="FilterDto.Search" type="text" placeholder="نام/شماره تلفن" class="form-control">
                                    </div>
                                </div>

                                <div class="form-group col-lg-4 ">
                                    <label>نوع کاربر</label>
                                    <div class="input-group">
                                        <select class="form-control select2"
                                                asp-for="FilterDto.UserMobileType">
                                            <option value="">همه کاربرها</option>
                                            @foreach (var userType in Model.AllowedUserTypes)
                                            {
                                                <option value="@((int)userType)">@(userType.ToDisplay())</option>
                                            }
                                        </select>
                                    </div>
                                </div>

                                <div class="col-lg-3">
                                    <div style="margin-top:32px;" class="d-flex justify-content-around">
                                        <button class="alert-icon btn btn-success label rounded w-100" type="submit"><p class="mb-0">فیلتر</p></button>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </form>
                </div>
            </div>
            <div class="card-body pt-0 mb-5">
                <table id="TableUnSelected" class="table table-bordered ">
                    <thead class="bg-primary">
                        <tr>
                            <th><input type="checkbox" id="selectAllTableUnSelected" /></th>
                            <th>نام و نام خانوادگی</th>
                            <td> نوع  </td>
                            <td>موبایل (کدملی)</td>
                        </tr>
                    </thead>
                    <tbody>
                      
                        @foreach (var item in Model.Users)
                        {
                            <tr>
                                <td style="width:30px;"><input type="checkbox" value="@item.Id" name="UserId" class="row-selector" /></td>
                                <td>@item.UserFullName</td>
                                <td>@item.TypeTitle</td>
                                <td>@item.Phone (@item.MeliCode)</td>
                            </tr>
                        }
                    </tbody>
                </table>

                <!-- /.tab-content -->

            </div><!-- /.portlet-body -->
        </div>
    </div>
    <div class="col-md-6">
        <div class="card rounded-3">
            <div class="card-header">
                <div class="d-flex justify-content-between d-flex">
                    <h3 class="title m-0">
                        <i class="icon-speech"></i>
                        کاربران انتخاب شده
                    </h3>
                    <form asp-action="RemoveUserFromVoyage" method="post" id="deleteUser">

                        <a class="btn btn-danger text-white label rounded" onclick="deleteUser();">حذف انتخاب شده ها</a>
                        <input id="removeIds" name="ids" type="hidden" />
                        <input asp-for="FilterDto.VoyageId" name="VoyageId" type="hidden" />

                    </form>
                </div><!-- /.portlet-title -->
                <!-- /.buttons-box -->
            </div><!-- /.portlet-heading -->
            <div class="card-body pt-0">
                <table id="TableSelected" class="table table-bordered ">
                    <thead class="bg-primary">
                        <tr>
                            <th><input type="checkbox" id="selectAllTableSelected" /></th>
                            <th>نام و نام خانوادگی</th>
                            <td> نوع  </td>
                            <td>موبایل (کدملی)</td>
                            <td>وضعیت فعلی</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.SelectedUsers)
                        {
                            <tr>
                                <td style="width:30px;"><input type="checkbox" value="@item.Id" name="selectedUserId" class="row-selector" /></td>
                                <td>@item.UserFullName</td>
                                <td>@item.TypeTitle</td>
                                <td>@item.Phone (@item.MeliCode)</td>
                                <td><button onclick="@(item.IsActive ? $"setDisableVoyageForUser('{item.Id}','{Model.VoyageInfo.Id}')"  : $"setActiveVoyageForUser('{item.Id}','{Model.VoyageInfo.Id}')")" type="button" class="btn @(item.IsActive ? "btn-success": "btn-danger")">@(item.IsActive ? "فعال" : "غیر فعال")</button></td>

                            </tr>
                            i++;
                        }
                    </tbody>
                </table>

                <!-- /.tab-content -->

            </div><!-- /.portlet-body -->
        </div>
    </div>
</div>


<form id="setActiveVoyageForm" asp-action="SetActiveVoyage" method="post">
    <input id="activeVoyageId" type="hidden" name="voyageId" value="" />
    <input id="personelId" type="hidden" name="personelId" value="" />
</form>


<form id="setDisableVoyageForm" asp-action="SetDisableVoyage" method="post">
    <input id="activeVoyageIdSecond" type="hidden" name="voyageId" value="" />
    <input id="personelIdSecond" type="hidden" name="personelId" value="" />
</form>

@section script {
    <script>
        function setUserForVoyage() {
            var ids = "";
            $("#selectUserId").val('');
            $("input:checkbox[name=UserId]:checked").each(function () {
                if (ids) {
                    ids += ',' + $(this).val();
                }
                else {
                    ids = $(this).val();
                }
            });
            $("#selectUserId").val(ids);
            if (ids) {
                $("#postUser").submit();
            }
            else {
                showAlert2('کاربری انتخاب نشده است', 1);
                return;
            }
        }

        function deleteUser() {
            var ids = "";
            $("#removeIds").val('');
            $("input:checkbox[name=selectedUserId]:checked").each(function () {
                if (ids) {
                    ids += ',' + $(this).val();
                }
                else {
                    ids = $(this).val();
                }
            });
            $("#removeIds").val(ids);
            if (ids) {
                $("#deleteUser").submit();
            }
            else {
                showAlert2('کاربری انتخاب نشده است', 1);
                return;
            }
        }



        function setActiveVoyageForUser(personelId, voyageId) {
            $('#activeVoyageId').val(voyageId);
            $('#personelId').val(personelId);
            $('#setActiveVoyageForm').submit();
        }

        function setDisableVoyageForUser(personelId, voyageId) {
            $('#activeVoyageIdSecond').val(voyageId);
            $('#personelIdSecond').val(personelId);
            $('#setDisableVoyageForm').submit();
        }

          $(document).ready(function () {
               $('.select2').select2();
            $('#selectAllTableUnSelected').click(function (e) {
                    var isChecked = this.checked;
                // Only select/deselect visible checkboxes
                $('#TableUnSelected tbody tr:visible').find('td input:checkbox.row-selector').prop('checked', isChecked);
            });


            $('#selectAllTableSelected').click(function (e) {
                    var isChecked = this.checked;
                // Only select/deselect visible checkboxes
                $('#TableSelected tbody tr:visible').find('td input:checkbox.row-selector').prop('checked', isChecked);
            });
        });

    </script>
}
