@model Entities.DTOs.Web.Common.ProvincePageDto
@{
    int i = ((Model.Provinces.PageNumber - 1) * Model.Provinces.PageSize) + 1;
    var currentSortColumn = Model.Filter?.SortColumn ?? "namefa";
    var currentSortDirection = Model.Filter?.SortDirection ?? "asc";
}

@if (Model.Provinces.TotalItems > 0)
{
    <div class="table-responsive mt-4">
        <table class="table table-bordered table-hover table-striped" id="data-table">
            <thead class="bg-primary">
                <tr>
                    <th class="sortable-header" data-column="row">ردیف</th>
                    <th class="sortable-header" data-column="namefa" style="cursor: pointer;">
                        نام استان (فارسی)
                        @if (currentSortColumn == "namefa")
                        {
                            <i class="icon-arrow-@(currentSortDirection == "asc" ? "up" : "down") text-white"></i>
                        }
                        else
                        {
                            <i class="icon-sort text-white-50"></i>
                        }
                    </th>
                    <th class="sortable-header" data-column="nameen" style="cursor: pointer;">
                        نام استان (انگلیسی)
                        @if (currentSortColumn == "nameen")
                        {
                            <i class="icon-arrow-@(currentSortDirection == "asc" ? "up" : "down") text-white"></i>
                        }
                        else
                        {
                            <i class="icon-sort text-white-50"></i>
                        }
                    </th>
                    <th class="sortable-header" data-column="countrynamefa" style="cursor: pointer;">
                        کشور
                        @if (currentSortColumn == "countrynamefa")
                        {
                            <i class="icon-arrow-@(currentSortDirection == "asc" ? "up" : "down") text-white"></i>
                        }
                        else
                        {
                            <i class="icon-sort text-white-50"></i>
                        }
                    </th>
                    <th>عملیات</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Provinces.Data)
                {
                    <tr>
                        <td class="align-middle">@(i++)</td>
                        <td class="align-middle">@item.NameFa</td>
                        <td class="align-middle">@item.NameEn</td>
                        <td class="align-middle">@item.CountryNameFa</td>
                        <td class="d-flex justify-content-first">
                            <div class="d-flex">
                                <button type="button" class="btn btn-danger btn-sm btn-icon curve mx-1 px-2 btn-delete-province" data-id="@item.Id" data-name="@item.NameFa">
                                    <i class="icon-trash fa-flip-horizontal fs-6 align-middle"></i>
                                </button>
                                <button type="button" class="btn btn-warning btn-sm btn-icon curve mx-1 px-2 btn-edit-province" data-id="@item.Id">
                                    <i class="icon-pencil align-middle fs-6"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="mt-3">
            <cs-pager cs-paging-pagesize="@Model.Provinces.PageSize"
                      cs-paging-pagenumber="@Model.Provinces.PageNumber"
                      cs-paging-totalitems="@Model.Provinces.TotalItems"
                      cs-paging-maxpageritems="10"
                      cs-pagenumber-param="p"
                      cs-show-first-last="true"
                      cs-suppress-empty-nextprev="true"
                      cs-suppress-inactive-firstlast="true"
                      cs-show-numbered="true"
                      cs-first-page-text="ابتدا"
                      cs-last-page-text="انتها"
                      cs-next-page-title="بعدی"
                      cs-previous-page-title="قبلی"
                      cs-first-page-title="ابتدا"
                      cs-last-page-title="انتها"
                      cs-next-page-text="بعدی"
                      cs-previous-page-text="قبلی"
                      cs-pager-li-current-class="page-item active"
                      cs-pager-li-other-class="page-item"
                      cs-pager-li-non-active-class="page-item disabled"
                      cs-pager-link-current-class="page-link"
                      cs-pager-link-other-class="page-link"
                      asp-controller="Province"
                      asp-action="Table">
            </cs-pager>
        </div>
    </div>

    <script>
        // Handle column sorting
        $(document).off('click', '.sortable-header').on('click', '.sortable-header', function(e) {
            var column = $(this).data('column');
            if (!column || column === 'row') return;
            
            var currentSortColumn = '@currentSortColumn';
            var currentSortDirection = '@currentSortDirection';
            
            // Toggle direction if clicking the same column
            var newDirection = 'asc';
            if (column === currentSortColumn) {
                newDirection = currentSortDirection === 'asc' ? 'desc' : 'asc';
            }
            
            // Call parent page's loadTableWithSort function
            if (typeof loadTableWithSort === 'function') {
                loadTableWithSort(column, newDirection);
            }
        });
    </script>
}
else
{
    <div class="alert alert-info mt-4">
        <i class="icon-info"></i> هیچ استانی یافت نشد.
    </div>
}
