@model SpecialGearTariffRulePageDto

@{
    ViewData["Title"] = "قوانین تعرفه تجهیزات ویژه";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
    int i = 1;
}

<div class="col-lg-12">
    <div class="card">
        <div class="card-header pb-0">
            <div class="d-flex justify-content-between">
                <h3 class="title">
                    <button type="button" class="btn bg-transparent p-0 fs-6 text-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                        <i class="fa-solid fa-right-to-bracket me-2"></i>
                    </button>
                    قوانین تعرفه تجهیزات ویژه
                </h3>

                <a style="border-radius:5px; margin:0px 10px" onclick="showCreateTariffRuleModal('')"
                   class="btn btn-success d-md-block d-none">
                    <i class="icon-plus"></i>
                    ثبت قانون جدید
                </a>
            </div>
            <form id="formFilter" asp-action="List" method="post">
                <input name="p" id="pageNumber" hidden />
                <div class="row gy-4">

                    <div class="form-group col-md-3">
                        <label>جستجو</label>
                        <input asp-for="Filter.Search" class="form-control" placeholder="عنوان قانون">
                        <span asp-validation-for="Filter.Search" class="text-danger"></span>
                    </div>

                    <div class="col-md-2">
                        <button style="margin-top:30px; border-radius:5px" class="btn btn-success" type="submit">
                            فیلتر
                        </button>
                    </div>

                </div>
            </form>
        </div>

        <div class="card-body pt-0">
            <div class="table-responsive vh-100 mt-4">
        <table class="table table-bordered table-hover table-striped">
            <thead class="bg-primary">
                <tr>
                    <th>ردیف</th>
                    <th>عنوان</th>
                    <th>حداقل تناژ</th>
                    <th>حداکثر تناژ</th>
                    <th>محصول ترافیکی یا ویژه است؟</th>
                    <th>تعرفه جاری</th>
                    <th>عملیات</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Data)
                {
                    <tr>
                        <td class="align-middle">@(i++)</td>
                        <td class="align-middle">@item.Title</td>
                        <td class="align-middle">@(item.MinTonnage?.ToPrice() ?? "-")</td>
                        <td class="align-middle">@(item.MaxTonnage?.ToPrice() ?? "-")</td>
                        <td class="align-middle">@(item.IsSpecialProduct ? "بله" : "خیر")</td>
                        <td class="align-middle">
                            @if (item.CurrentSpecialGearTariff != null)
                            {
                                <div  class="">
                                    <div class="bg-success2 p-1 rounded  m-1">هزینه تخلیه و بارگیری از کشتی: @item.CurrentSpecialGearTariff.VoyagePrice.ToPrice()</div>
                                    <div class="bg-success2 p-1 rounded  m-1">هزینه تخلیه و بارگیری در محوطه: @item.CurrentSpecialGearTariff.AreaPrice.ToPrice()</div>
                                    <div class="bg-success2 p-1 rounded  m-1">از @item.CurrentSpecialGearTariff.StartDateFa تا @item.CurrentSpecialGearTariff.EndDateFa - (ارز: @item.CurrentSpecialGearTariff.CurrencyTypeTitle)</div>
                                </div>
                            }
                            else
                            {
                                <span>تعرفه ندارد</span>
                            }
                        </td>
                        <td class="align-middle">

                            <a class="btn btn-warning px-2 btn-sm btn-icon curve" onclick="editTariffRule('@item.Id');"><i class="icon-pencil align-middle fs-7"></i></a>

                            <a id="DeleteTarrifRule@(i)" onclick="ShowQAlert(event,'DeleteTarrifRule@(i)');" class="btn btn-danger px-2 btn-sm btn-icon curve btn-questions ms-1"
                               asp-action="DeleteTarrifRule" asp-route-specialGearTariffRuleId="@item.Id">
                                <i class="icon-trash fs-6 align-middle fa-flip-horizontal"></i>
                            </a>

                            <a href="/SpecialGearTariff/List?specialGearTariffRuleId=@item.Id" class="btn btn-primary btn-sm rounded">
                                <i class="fa fa-edit"></i> تعرفه ها
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div id="tariffRuleModal" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">قانون تعرفه جدید</h4>
                <button type="button" class="close btn-close rounded border" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body" id="modalBody">
                <partial name="_CreateSpecialGearTariffRule" model="@Model.Create" />
            </div>
        </div>
    </div>
</div>

@section script {
    <script>
        $(document).ready(function () {
            $(".page-link").click(function (event) {
                event.preventDefault();
                var hrefValue = $(this).attr("href");
                $("#pageNumber").val(hrefValue.split("p=")[1]);
                $("#formFilter").submit();
            });
        });

        function showCreateTariffRuleModal(id) {
            $("#Id").val(id);
            $('#tariffRuleModal').modal('show');
        }

        function editTariffRule(id) {
            $.post("@Url.Action("GetTariffRuleById", "SpecialGearTariffRule")", { tariffId: id })
                .done(function (res) {
                    $("#modalBody").html(res);
                    $("#tariffRuleModal").modal('show');
                });
        }


    </script>
}
