@model List<AllocationEquDamagedDto>

@{
    int rowDamaged = 1;
}

<div class="table-responsive">
    <table class="table table-sm table-bordered table-hover table-striped" id="data-table">
        <thead>
            <tr>
                <th style="width: 5%">ردیف</th>

                <th> نوع تجهیز </th>
                <th>شرح خسارت</th>

                <th> مبلغ (ريال)   </th>
                <th> پرداخت توسط صاحب کالا؟   </th>
                <td>تاریخ</td>

                <td>عملیات</td>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td class="align-middle" >@(rowDamaged)</td>
                    <td class="align-middle"  style="display:none" id="damaged_id@(rowDamaged)">@item.Id </td>
                    <td class="align-middle" style="display:none" id="damaged_SeoEquipmentId@(rowDamaged)">@item.SeoEquipmentId</td>
                    <td class="align-middle" >@item.Title </td>
                    <td class="align-middle"  id="damaged_Description@(rowDamaged)">@item.Description</td>
                    <td class="align-middle"  style="display:none"  id="damaged_Price@(rowDamaged)">@item.Price</td>
                    <td class="align-middle" >@item.PriceTitle</td>
                       
                    <td class="align-middle"  style="display:none" id="damaged_PayOwner@(rowDamaged)">@(item.PayByCompanyOwner ? 1 : 0)</td>
                    <td class="align-middle" >
                        <span class="label px-2 py-1 rounded label-@(item.PayByCompanyOwner?"success":"danger")">
                            @(item.PayByCompanyOwner ? "بله" : "خیر")
                        </span>
                    </td>
                    <td id="damaged_DateFa@(rowDamaged)">@item.DateFa</td>

                    <td class="align-middle">
                        <a class="btn px-2 btn-warning btn-sm btn-icon curve" onclick="editDamaged('@rowDamaged');"><i class="icon-pencil fs-6 align-middle"></i></a>

                        <a onclick="DeleteDamage(event, '@item.Id');" class="btn btn-danger btn-sm px-2 btn-icon curve btn-questions">
                            <i class="icon-trash fs-6 align-middle fa-flip-horizontal"></i>
                        </a>
                    </td>
                    @{
                        rowDamaged++;
                    }
                </tr>
            }

            @if (Model?.Any() == true)
            {
                <tr style=" background-color: #3fbb7630;">
                    <td>--</td>

                    <th>جمع کل </th>
                    <th>جمع  </th>
                    <th> @(Model?.Sum(x => x.Price).ToPrice(ToPriceExtention.PriceType.NoType) ?? "0")</th>

                    <th>---</th>
                    <th>--</th>
                    <th>--</th>
                </tr>
            }
        </tbody>
    </table>

</div>











