@model SeoFactorServicePageDto
@{
	int j = 1;
}


<div class="card">

	<div class="pt-0 px-4">
		<div class="bg-primary rounded-3 mt-4 p-3">
			<div class="row gy-3 align-items-center">
				<div class="col-1">
					<img src="~/assets/images/rial.png" alt="" class="img-fluid">
				</div>
				<div class="col-3">
					<p class="fs-6 fw-bold">شماره فاکتور : @(Model.Details.NumberFactor ?? "---") </p>
					<p class="fs-6 fw-bold">تاریخ : @Model.Details.DateFa</p>
				</div>
				<div class="col-3">
					<a href="#" class="btn btn-outline-info text-white" data-bs-toggle="tooltip" data-bs-title=" رفتن به صفحه بارنامه "> <p class="fs-6 fw-bold mb-0">بارنامه: @Model.SeoInfo.BillOfLadingNumber</p> </a>
					<p class="fs-6 fw-bold">کالا: @Model.SeoInfo.ProductProductName</p>
				</div>
				<div class="col-2">
					<p class="fs-6 fw-bold">تناژ: @Model.SeoInfo.TonnageTitle</p>
					<p class="fs-6 fw-bold"> شناور: @Model.SeoInfo.ShipShipName</p>
				</div>
				<div class="col-3">
					<p class="fs-6 fw-bold">قبض انبار: @Model.Details.SeoWarehouseReceiptNumber</p>
					<p class="fs-6 fw-bold">شماره پروانه گمرک : @Model.Details.SeoWarehouseReceiptOutboundCaseNumber</p>
				</div>
			</div>
		</div>
	</div>

</div>

<div class="card-header pt-0">
	<div class="d-flex justify-content-between">

		<h3 class="title">
			<a asp-action="Details"
			   asp-route-factorId="@Model.SeoFactorId">
				<i class="fa-solid fa-right-to-bracket me-2 align-middle"></i>
			</a>
			لیست سرویس/خدمات این صورتحساب
		</h3>
		
		
	</div>
	<div class="d-flex flex-row-reverse justify-content-between align-items-end mt-3">
		
			<div class=" text-md-end text-center px-0">
			@if (Model.SeoFactorId != Guid.Empty
						&& Model?.List?.Any() == true
						&& Model?.State != null)
			{
				if (Model?.Details.State == SeoFactorState.Factor)
				{
					<span id="ReportLinkId" class="">
						<a class="btn btn-sm px-2 btn-primary rounded"
						   asp-action="GetFactorFile"
						   asp-route-factorId="@Model?.SeoFactorId"
						   asp-route-type="@AllocationEquFileType.FactorCompany">
							<i class="fa-solid fa-download align-middle mx-1"></i> صورتحساب شرکت
						</a>
						<a class="btn btn-sm px-2 btn-primary rounded"
						   asp-action="GetFactorFile"
						   asp-route-factorId="@Model?.SeoFactorId"
						   asp-route-type="@AllocationEquFileType.FactorOrg">
							<i class="fa-solid fa-download align-middle mx-1"></i> صورتحساب سازمان
						</a>

						@if (Model.HasBimeFactor)
						{
							<a class="btn btn-sm px-2 btn-primary rounded"
							   asp-action="GetFactorBimeFile"
							   asp-route-factorId="@Model?.SeoFactorId">
								<i class="fa-solid fa-download align-middle mx-1"></i> بیمه
							</a>
						}
						
					</span>
				}

				else if (Model?.Details.State == SeoFactorState.Pending)
				{
					<span class="">
						<a onclick="DeleteAllServices(event)" class="btn btn-sm px-2 btn-danger rounded"
						   data-bs-toggle="tooltip" data-bs-title="حذف همه">
							<i class="icon-trash align-middle fa-flip-horizontal"></i>
						</a>
						<a class="btn btn-sm px-2 btn-primary rounded"
						   asp-action="GetPreviewFactor"
						   asp-route-SeoFactorId="@Model?.SeoFactorId"
						   asp-route-PreviewFactor="@PreviewFactor.FactorCompany">
							<i class="fa-solid fa-download align-middle mx-1"></i> پیش نمایش شرکت
						</a>
						<a class="btn btn-sm px-2 btn-primary rounded"
						   asp-action="GetPreviewFactor"
						   asp-route-SeoFactorId="@Model?.SeoFactorId"
						   asp-route-PreviewFactor="@PreviewFactor.FactorOrganization">
							<i class="fa-solid fa-download align-middle mx-1"></i> پیش نمایش سازمان
						</a>

						@if (Model.HasBimeFactor)
						{
							<a class="btn btn-sm px-2 btn-primary rounded"
							   asp-action="GetPreviewBimeFactor"
							   asp-route-SeoFactorId="@Model?.SeoFactorId">
								<i class="fa-solid fa-download align-middle mx-1"></i>  بیمه
							</a>
						}
					</span>
				}

			}



			@if (Model.CanChangeService)
			{
				<a style="border-radius:5px; margin:0px 10px" class="btn btn-primary px-2 mx-0 btn-sm" onclick="AddService();">
					<i class="icon-plus"></i>
					ثبت سرویس/خدمات
				</a>
			}

			@if (Model.CanChangeService && Model.List?.Any() == true)
			{
				<a id="EndFactorId"
				   style="border-radius:5px; margin:0px 10px" class="btn btn-success px-2 mx-0 btn-sm"
				   onclick="EndFactor(event, '@Model.SeoFactorId');">اتمام صورتحساب </a>
			}
			else if (Model?.CanChangeService == false && Model?.List?.Any() == true
			&& (Model.Details.State == SeoFactorState.Factor))
			{
				<a id="BackToPendingStateId" style="border-radius:5px; margin:0px 10px" class="btn btn-success" onclick="BackToPendingState(event, '@Model.SeoFactorId');"> ویرایش صورتحساب </a>
			}

		</div>
		<div>
			<div class="input-group d-flex align-items-center">
				@if (Model?.State != null
				     && Model?.State == SeoFactorState.Pending)
				{
					<form asp-action="SaveCreditorPrice" method="post">
						<input asp-for="SeoFactorId" hidden/>
						<div class="d-flex align-items-center">
							<p dir="rtl" class="m-0 pe-2">بستانکاری صاحب کالا (ريال) </p>
							<div class="d-flex">
								<input name="RedirectPage" type="number" value="0" hidden/>
								<price-input asp-for="CreditorPrice" placeholder="به ریال"></price-input>
								<button class="btn btn-sm btn-primary rounded px-0 mx-2 w-25" type="submit"> ثبت </button>
							</div>
						</div>

					</form>
				}
				else
				{
					<p class="m-0 pe-2 ms-1"> بستانکاری صاحب کالا: <span class="fw-bold mx-2 text-success">@Model.CreditorPriceTitle ریال</span> </p>
				}


			</div>
		</div>

	</div>
	<!-- /.portlet-heading -->
</div>


<div class="card-body pt-0">
	<div class="table-responsive">
		<table class="table table-bordered table-hover table-striped" id="data-table">
			<thead class="bg-primary">
				<tr>
					<th class="align-middle" style="width: 5%">ردیف</th>

					<th class="align-middle">شرح کالا/خدمات</th>
					<th class="align-middle">تعداد/مقدار</th>
					<th class="align-middle">ضریب</th>
					<th class="align-middle">حجم/وزن/روز</th>
					<th class="align-middle">قیمت واحد-ريال</th>
					<th class="align-middle">جمع</th>
					<th class="align-middle">درصد سهم شرکت</th>

					<th class="align-middle">مبلغ شرکت</th>
					<th class="align-middle">مبلغ سازمان</th>
					<th>جمع تعرفه مشارکت</th>
					@if (Model.CanChangeService)
					{
						<td class="align-middle">عملیات</td>
					}

				</tr>
			</thead>
			<tbody>
				@if (Model?.List?.Any() == true)
				{
					foreach (var item in Model?.List)
					{
						<tr>
							<td class="align-middle text-center">@(j++)</td>
							<td class="align-middle"><p class="m-0"> @item.Description  </p></td>
							<td class="align-middle text-center">@item.Count.ToPrice()</td>
							<td class="align-middle text-center">@item.Zarib.ToPrice()</td>
							<td class="align-middle text-center">@item.LargerWeightOrVolume.ToPrice()</td>

							<td class="align-middle text-center">@item.PriceOne.ToPrice()</td>
							<td class="align-middle text-center">@item.SumPrice.ToPrice()</td>
							<td class="align-middle text-center">@item.PercentCompany</td>


							<td class="align-middle text-center">@item.TotalPriceCompany.ToPrice()</td>
							<td class="align-middle text-center">@item.TotalPriceOrg.ToPrice()</td>
							<td class="align-middle text-center">@item.TotalPriceMosharekat.ToPrice()</td>

							@if (Model.CanChangeService)
							{
								<td class="align-middle px-2 text-center">

									@* <a class="btn btn-warning px-2 btn-sm btn-icon curve" onclick="editService('@item.Id');"><i class="icon-pencil fs-6 align-middle"></i></a> *@

									<a onclick="DeleteService(event, '@item.Id');" class="btn btn-danger btn-sm btn-icon curve px-2 btn-questions">
										<i class="icon-trash fs-6 align-middle active fa-flip-horizontal"></i>
									</a>

								</td>
							}
						</tr>
					}
				}




			</tbody>
		</table>

	</div>
</div>


@if (Model?.Details.State == SeoFactorState.Factor)
{
	<p class="m-4">
		<span class="label fw-bold rounded px-2 py-1 label-warning">وضعیت فاکتور اجازه ویرایش سرویس ها را نمی دهد. وضعیت فعلی : @Model.Details.State.ToDisplay()</span>
	</p>
}

<script>
	$('[data-bs-toggle="tooltip"]').tooltip('dispose').tooltip();
</script>



