@model FeeExemptReportPageDto
@{
	ViewData["Title"] = "معافیت های انبارداری";
	Layout = "~/Views/Shared/AdminLayout.cshtml";
	int i = ((Model.List?.PageNumber - 1) * Model.List?.PageSize) + 1 ?? 1;
}

<style>
	.table-responsive {
		overflow-x: auto;
		width: 100%;
		max-height: 70vh; /* Added to enable scrolling */
	}

	#data-table {
		table-layout: auto;
		width: max-content; /* Allows table to expand based on content */
		min-width: 100%; /* Ensures it fits container if content is small */
	}

		#data-table th,
		#data-table td {
			white-space: nowrap; /* Prevents text wrapping */
			padding: 8px; /* Adjusted padding for better spacing */
			text-align: center;
			vertical-align: middle;
		}
</style>



<div class="col-lg-12">
	<div class="card">

		<div class="card-header pb-2">
			<div class="d-flex justify-content-between">
				<h3 class="title">
					<i class="fa fa-money-bill me-2 text-success"></i> معافیت های انبارداری
				</h3>
				<div class="d-none d-md-block">
					<button id="reportButton" type="button"
							class="btn btn-success rounded">
						<i class="fa-solid fa-download me-2"></i>دریافت گزارش اکسل
					</button>
				</div>
			</div>

			<button id="reportButton" type="button"
					class="btn btn-success rounded w-100 my-3 d-md-none d-block">
				<i class="fa-solid fa-download me-2"></i>دریافت گزارش اکسل
			</button>

		</div>


		<div class="card-body pt-0">
			<form id="reportForm" action="@Url.Action("GetIncomeReportExcel", "SeoFactor")" method="post" target="_blank" style="display:none;">
			</form>

			<form id="formFilter" asp-action="FeeExemptReport" asp-route-p="" method="post">
				<input name="filter.Page" id="pageNumber" hidden />
				<div class="form-body ">
					<div class="row gy-4">
						<div class="col-md-2 col-sm-12">
							<div class="form-group">
								<label>از تاریخ:</label>
								<div class="input-group">
									<input asp-for="Filter.FilterDate.FromDate" type="text" class=" form-control" autocomplete="off">
									<span asp-validation-for="Filter.FilterDate.FromDate" class="text-danger"></span>
								</div>
							</div>
						</div>
						
						<div class="col-md-2 col-sm-12">
							<div class="form-group">
								<label>تا تاریخ:</label>
								<div class="input-group">
									<input asp-for="Filter.FilterDate.ToDate" type="text" class=" form-control" autocomplete="off">
									<span asp-validation-for="Filter.FilterDate.ToDate" class="text-danger"></span>
								</div>
							</div>
						</div>

						<div class="form-group col-md-2 ">
							<button style="border-radius:5px; margin-top:30px" class="alert-icon px-3 btn btn-success "
									type="submit">
								فیلتر
							</button>
						</div>

					</div>
					
				</div>
			</form>

			<div class="table-responsive mt-4">
				<table class="table table-bordered table-hover table-striped" id="data-table">
					<thead class="bg-primary position-sticky top-0" style="z-index: 999">
						<!-- Added position-sticky and top-0 -->
						<tr>
							<th class="px-3 fs-6  text-center">#</th>
							<th class="px-3 fs-6  text-center">شماره صورتحساب</th>
							<th class="px-3 fs-6  text-center">کشتی</th>
							<th class="px-3 fs-6  text-center"> نام شرکت/شخص </th>
							<th class="px-3 fs-6  text-center">تاریخ صدور</th>
							 
							<th class="px-3 fs-6  text-center"> سهم شرکت </th>
							<th class="px-3 fs-6  text-center"> سهم سازمان </th>
							<th class="px-3 fs-6  text-center"> جمع </th>
						</tr>
					</thead>
					<tbody>
						@foreach (var item in Model.List.Data)
						{
							<tr>
								<td class="align-middle">@(i++)</td>
								<td class="align-middle">
									@if(item.FactorType == FactorType.Seo)
									{
										<a target="_blank" asp-controller="SeoFactor" asp-action="Factor" asp-route-factorId="@item.SeoFactorId" class="btn btn-outline-info px-2"
										    data-bs-toggle="tooltip" data-bs-placement="top" title="بارنامه">
											@item.NumberFactor
										</a>
									}
									else if (item.FactorType == FactorType.Voyage)
									{
										<a target="_blank" asp-controller="VoyageFactor" asp-action="Factor" asp-route-factorId="@item.SeoFactorId" class="btn btn-outline-info px-2"
										    data-bs-toggle="tooltip" data-bs-placement="top" title="شناور">
											@item.NumberFactor
										</a>
									}
									else if (item.FactorType == FactorType.Other)
									{
										<a target="_blank" asp-controller="OtherFactor" asp-action="Details" asp-route-factorId="@item.SeoFactorId" class="btn btn-outline-info px-2"
										    data-bs-toggle="tooltip" data-bs-placement="top" title="سایر">
											@item.NumberFactor
										</a>
									}
									else
									{
										@item.NumberFactor
									}
									
								</td>

								<td class="align-middle">@item.ShipName</td>	
								<td class="align-middle">@item.OwnerName</td>
								<td class="align-middle">@item.DateFactorFa</td>
							 
								<td class="align-middle">@item.PriceCompany.ToPrice()</td>
								<td class="align-middle">@item.PriceOrg.ToPrice()</td>
								<td class="align-middle">@item.Price.ToPrice()</td>
								  
							</tr>
						}

					</tbody>
				</table>

				<div class="mt-4">
					<cs-pager cs-paging-pagesize="@Model.List.PageSize"
							  cs-paging-pagenumber="@Model.List.PageNumber"
							  cs-paging-totalitems="@Model.List.TotalItems"
							  cs-paging-maxpageritems="10"
							  cs-pagenumber-param="p"
							  cs-show-first-last="true"
							  cs-suppress-empty-nextprev="true"
							  cs-suppress-inactive-firstlast="true"
							  cs-show-numbered="true"
							  cs-first-page-text="ابتدا"
							  cs-last-page-text="انتها"
							  cs-next-page-title="بعدی"
							  cs-previous-page-title="قبلی"
							  cs-first-page-title="ابتدا"
							  cs-last-page-title="انتها"
							  cs-next-page-text="بعدی"
							  cs-previous-page-text="قبلی"
							  cs-pager-li-current-class="page-item active"
							  cs-pager-li-other-class="page-item"
							  cs-pager-li-non-active-class="page-item disabled"
							  cs-pager-link-current-class="page-link"
							  cs-pager-link-other-class="page-link"
							  asp-controller="SeoFactor"
							  asp-action="FeeExemptReport">
					</cs-pager>
				</div>
			</div>
		</div>
	</div>
</div>


<form asp-action="GetSeoFactorDocFileById" asp-controller="SeoFactor"
	  method="post" id="FormForDownloadFileId">
	<input type="hidden" id="docIdForDownload" name="docId" />

</form>


@section script {
	<script>
		$(document).ready(function () {
			$(".page-link").click(function (event) {
				event.preventDefault(); // غیرفعال کردن عملکرد پیشفرض href

				var hrefValue = $(this).attr("href");
				$("#pageNumber").val(hrefValue.split("p=")[1]);
				$("#formFilter").submit();
			});

			 $('.select2').select2();
		});

		kamaDatepicker('Filter_FilterDate_FromDate', customOptions);
		kamaDatepicker('Filter_FilterDate_ToDate', customOptions);

		$('#reportButton').click(function () {
			var button = $(this);
			var originalText = button.html();

			button.prop('disabled', true).html('<i class="fa-solid fa-spinner fa-spin"></i> در حال دریافت');

			// داده‌های فرم اصلی رو بردار و بریز تو فرم مخفی
			var data = $('#formFilter').serializeArray();
			var reportForm = $('#reportForm');
			reportForm.empty(); // پاک کردن قبلی‌ها
			$.each(data, function (i, field) {
				reportForm.append(
					$('<input>', { type: 'hidden', name: field.name, value: field.value })
				);
			});

			// سابمیت به تب جدید
			reportForm.submit();

			// بعد از چند ثانیه دکمه برگرده
			setTimeout(function () {
				button.prop('disabled', false).html(originalText);
			}, 2000);
		});


		function DownloadDocFile(event, docId) {
			   event.preventDefault();

			   $("#docIdForDownload").val(docId);
			   $("#FormForDownloadFileId").submit();
		}

	</script>
}